
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

@model Infra.ViewModels.BranchViewModel

<style>
    iframe {
        width: 100%;
    }
</style>


<div class="content-wrap">
    <div class="subsite">
        <div class="row">
            <div class="col-md-12">
                <div class="subsite-heading text-left" style="color:#393939">
                    @Model.branch.LocationName
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <img src="@Model.branch.PhotoUrl" alt="image" class="border-radius">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <label><i class="fas fa-phone-square theme-color"></i> &nbsp; @Model.branch.LocationPhoneNo</label>
                <br />
                <label><i class="fas fa-calendar-times theme-color"></i> &nbsp; @Model.branch.OpenTime - @Model.branch.CloseTime</label>
                <br />

                <label>
                    <i class="fas fa-map-marker-alt theme-color"></i> &nbsp; @Model.township.Name, @Model.branch.LocationAddress
                </label>

            </div>

        </div>

        <input type="hidden" id="txt_townshipid" value="@Model.township.Id">
        <input type="hidden" id="txt_branchid" value="@Model.branch.Id">

        <br />

        <div class="row">
            <div class="col-md-12 text-center">
                <label class="fs-15">Book now for @Model.branch.LocationName</label>
                <br />
                <div class="button">
                    <button type="submit" class="theme-button" onclick="book()">Book Now</button>
                </div>

            </div>

        </div>

        <br />
        <div class="row mt-30">
            <div class="col-md-12">
                <div>
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15277.209596547415!2d96.170696!3d16.8113478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ada44a13abf5acf!2sOcean%20Super%20Center!5e0!3m2!1sen!2smm!4v1608118567987!5m2!1sen!2smm" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*@

                    @Html.Raw(Model.branch.MapHtml)

                </div>

            </div>

        </div>
    </div>

</div>




@section scripts{

    <script>


        function book() {
            location.href = "../book?customerid=" + '@ViewBag.customerid' + '&townshipid=' + $('#txt_townshipid').val() + '&branchid=' + $('#txt_branchid').val();

        }

    </script>



}
