@model Infra.ViewModels.BranchViewModel

@{
    ViewBag.Title = "Branch";
    int id = Model.Id;
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            @if (id == 0)
            {
                <div>
                    Add Branch
                </div>
            }
            else
            {
                <div>
                    Edit Branch
                </div>
            }
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <a href="@Url.Action("BranchList","AdminSetup")" class="btn btn-info">
                    <i class="fa fa-list"></i> Branch List
                </a>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form class="">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.IsActive)
                    @Html.HiddenFor(x => x.CreateUserId)
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Location Name<span style="color:red">*</span></label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.LocationName, new { @class = "form-control", @type = "Name", @placeholder = "", @autofocus = "true", @autocomplete = "off" })
                            <div id="LocationName-error" class="invalid-feedback" style="display:none;">
                                Enter Location Name.
                            </div>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Phone No.<span style="color:red">*</span></label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.LocationPhoneNo, new { @class = "form-control", @type = "PhoneNo", @placeholder = "", @autofocus = "true", @autocomplete = "off" })
                            <div id="LocationPhoneNo-error" class="invalid-feedback" style="display:none;">
                                Enter Phone No.
                            </div>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Township</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.TownshipId, Model.TownshipList, new { @class = "form-control", @type = "PhoneNo", @placeholder = "", @autofocus = "true", @autocomplete = "off" })

                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Agent</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(model => model.AdminAgentId, Model.AdminAgentList, new { @class = "form-control", @type = "PhoneNo", @placeholder = "", @autofocus = "true", @autocomplete = "off" })

                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Car Limit</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.CarLimit, new { @class = "form-control", @type = "CompanyName", @placeholder = "", @autofocus = "true", @autocomplete = "off", @onkeypress = "return onlyNumberKey(event)" })
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Open Hour (AM)</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.OpenTime, new { @class = "form-control", @type = "CompanyName", @placeholder = "", @autofocus = "true", @autocomplete = "off", @onkeypress = "return onlyNumberKey(event)" })
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Close Hour (PM)</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.CloseTime, new { @class = "form-control", @type = "CompanyName", @placeholder = "", @autofocus = "true", @autocomplete = "off", @onkeypress = "return onlyNumberKey(event)" })
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Address<span style="color:red">*</span></label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.LocationAddress, new { @class = "form-control", @type = "Address", @placeholder = "", @autofocus = "true", @autocomplete = "off" })
                            <div id="LocationAddress-error" class="invalid-feedback" style="display:none;">
                                Enter Address.
                            </div>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="chkIsActive" class="col-sm-3 col-form-label">Active?</label>
                        <div class="col-sm-9">
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input id="chkIsActive" type="checkbox" class="form-check-input" checked>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label for="" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <a href="javascript:void(0)" class="btn btn-focus btn-lg" id="btnSave"><i class="fa fa-save"></i> Save</a>
                            <a href="javascript:void(0)" class="btn btn-light btn-lg" id="btnCancel"><i class="fa fa-ban"></i> Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@Scripts.Render("~/bundles/branch-new")
<script type="text/javascript">
    $(function () {
        $('#liSetting').addClass('mm-active');
        $('#liBranch').addClass('mm-active');
        $('#liSetting a').attr('aria-expanded', true);
    });
    var saveUrl = '@Url.Action("Branch", "AdminSetup")';
</script>

