
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

@model Infra.Models.tbOperation

<style>

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 35px !important;
        position: relative !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 32px !important
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 3px !important
    }


    .select2-container {
        width: 100% !important
    }

    .select2-hidden-accessible {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
        top: 32px !important;
        left: 100px !important
    }


    .nopad {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    /*image gallery*/
    .image-checkbox {
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 4px solid transparent;
        margin-bottom: 0;
        outline: 0;
    }

        .image-checkbox input[type="checkbox"] {
            display: none !important;
        }

    .image-checkbox-checked {
        border-color: #4783B0;
    }

    .image-checkbox .fa {
        position: absolute;
        color: #4A79A3;
        background-color: #fff;
        padding: 10px;
        top: 0;
        right: 0;
    }

    .image-checkbox-checked .fa {
        display: block !important;
    }

    .chk-package .vsb-middle {
        padding: 5px 0px;
        font-weight: 600;
        font-size: 13px;
    }

    .chk-package .vsbm-left {
        color: #000;
        display: inline-block;
    }


    .chk-package .vsbm-right {
        display: inline-block;
        color: #df9403;
        float: right;
    }

    .div-img {
        width: 200px;
        border-radius: 10px;
    }

        .div-img img {
            width: 200px;
            height: 150px;
            border-radius: 10px;
            object-fit: cover
        }

    .vsb-price {
        /*  color: #00c9a7;*/
        color: #fff;
        position: absolute;
        padding: 3px 5px;
        background-color: #00c9a7;
        top: 7px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        left: 110px;
        width: 85px;
        font-size: 12px !important;
    }

    .div-active {
        border: 3px solid #00c9a7;
    }

    input[type=checkbox], input[type=radio] {
        display: none
    }


    .btn-group-justified {
        width: 100%
    }


    .btn-light {
        color: #212529 !important;
        background-color: #dae0e5 !important;
        border-color: #d3d9df !important;
    }

    .active {
        color: #fff !important;
        background: #00c9a7 !important
    }




    @@keyframes click-wave {
        0% {
            height: 40px;
            width: 40px;
            opacity: 0.35;
            position: relative;
        }

        100% {
            height: 200px;
            width: 200px;
            margin-left: -80px;
            margin-top: -80px;
            opacity: 0;
        }
    }

    .chk .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 10.33333px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 30px;
        transition: all 0.15s ease-out 0s;
        background: #cbd1d8;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
    }

        .chk .option-input:hover {
            background: #9faab7;
        }

        .chk .option-input:checked {
            background: #40e0d0;
        }

            .chk .option-input:checked::before {
                height: 30px;
                width: 30px;
                position: absolute;
                content: "✔";
                display: inline-block;
                font-size: 20.66667px;
                text-align: center;
                line-height: 33px;
            }

            .chk .option-input:checked::after {
                -webkit-animation: click-wave 0.65s;
                -moz-animation: click-wave 0.65s;
                animation: click-wave 0.65s;
                background: #40e0d0;
                content: "";
                display: block;
                position: relative;
                z-index: 100;
            }

        .chk .option-input.radio {
            border-radius: 50%;
        }

            .chk .option-input.radio::after {
                border-radius: 50%;
            }


    .chk label {
        display: block;
        /* line-height: 40px;*/
    }

    .content-wrap {
        background: #fff !important
    }

    body {
        background: #fff !important
    }

    #content {
        background: #fff !important
    }


    .subsite-banner {
        height: 128px !important
    }

    #div_additionalservice label{
        display:inline-block;
    }
</style>


<div class="content-wrap">

    <div class="subsite-banner">
        <img src="~/Plesirthemes/EcoPhoto/carwash2.jpg">
    </div>
    <div class="subsite subsite-with-banner">

        <div class="row">
            <div class="col-md-12">
                <div class="subsite-heading">
                    Book a car
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-layout">
                    <form id="bookingform">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Choose Car</label>
                                <div class="field-group">
                                    <i class="fas fa-car"></i>
                                    <select class="custom-select mr-sm-2 with-icon" id="caravailable" data-error="#errVehicleName" required>
                                        <option selected disabled>Choose Car</option>

                                    </select>

                                    <div id="errVehicleName" class="error-message"></div>

                                    <input type="hidden" name="CustomerVehicleId" id="txt_CustomerVehicleId" />
                                    <input type="hidden" name="CarCategoryId" id="txt_CarCategoryId" />
                                    <input type="hidden" name="CustomerId" id="txt_CustomerId" value="@ViewBag.customerid" />
                                    <input type="hidden" name="BookingSource" value="@ViewBag.bksource" />
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label>Choose Type</label>
                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-light r_male rounded-default lb">
                                        <input type="radio" name="WashOption" class="rad_washType" value="In-House"> In-House
                                    </label>

                                    <label class="btn btn-light r_female rounded-default lb">
                                        <input type="radio" name="WashOption" class="rad_washType" value="Walk-In"> Walk-In
                                    </label>
                                </div>

                                <div id="errWashOption" class="error-message"></div>
                                @*<label id="WashOption-error" class="error" for="WashOption"></label>*@

                                @*<label for="WashOption" class="error-message"></label>*@

                            </div>



                            <div class="form-group col-md-12 div_address" style="display:none">
                                <label for="Address">Address</label>
                                <div class="input-group">
                                    <textarea class="form-control" name="CustomerAddress" data-error="#errAddress" aria-label="Address" required></textarea>
                                </div>

                                <div id="errAddress" class="error-message"></div>
                            </div>



                            <div class="form-group col-md-12 div_township" style="display:none">
                                <label>Township</label>
                                <div class="field-group">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <select class="custom-select mr-sm-2 with-icon" name="selecttownship" data-error="#errTownship" id="township" required>
                                        <option selected disabled>Choose Township</option>

                                    </select>

                                    <input type="hidden" name="" id="" />
                                </div>

                                <div id="errTownship" class="error-message"></div>
                            </div>

                            <div class="form-group col-md-12 div_branch" style="display:none">
                                <label>Branch</label>
                                <div class="field-group">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <select class="custom-select mr-sm-2 with-icon" name="selectbranch" data-error="#errBranch" id="branch" required>
                                        <option selected disabled>Choose Branch</option>

                                    </select>

                                    <input type="hidden" name="BranchId" id="txt_BranchId" />
                                </div>

                                <div id="errBranch" class="error-message"></div>
                            </div>

                            <div class="form-group col-md-12">
                                <label>Choose Date</label>
                                <div class="row">
                                    <div class="col no-padding-right">
                                        <div class="field-group">
                                            <svg class="svg-inline--fa fa-clock fa-w-16" aria-hidden="true" focusable="false" data-prefix="far" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>
                                            <input type="text" id="datestart" data-error="#errdate" name="OperationDate" class="datepicker form-control with-icon date-start-class" placeholder="Date" required>
                                        </div>
                                        <div id="errdate" class="error-message"></div>
                                    </div>
                                    <div class="col">
                                        <div class="field-group">
                                            <svg class="svg-inline--fa fa-clock fa-w-16" aria-hidden="true" focusable="false" data-prefix="far" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg>
                                            <input type="text" id="timepicker" data-error="#errtime" name="StartTime" class="form-control timepicker with-icon" required />
                                        </div>
                                        <div id="errtime" class="error-message"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12 div_packages">
                                <label>Choose Packages</label>
                                <div class="field-group">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <select class="custom-select mr-sm-2 with-icon" onchange="packageschange()" name="selectpacakges" id="ddpackages" required>
                                        <option selected disabled>Choose Packages</option>

                                    </select>

                                    <input type="hidden" name="MemberPackageId" id="txt_memberpackagesid" />
                                    <input type="hidden" name="MemberPackageName" id="txt_memberpackagesname" />
                                    <input type="hidden" name="BookingPackage" id="txt_bookingpackage" />
                                </div>

                                @*<div id="errPackages" class="error-message"></div>*@
                            </div>




                            <div class="form-group col-md-12 mt-10" id="div_carcategory" style="margin-bottom:5px;">

                            </div>



                          
                                <div id="div_additionalservice" class="form-group col-md-12 chk mt-10">

                                </div>

                                <input type="hidden" name="AdditionalIds" id="txt_AdditionalIds" />
                                <input type="hidden" name="AdditionalPrices" id="txt_AdditionalPrices" />
                                <input type="hidden" name="AdditionalNames" id="txt_AdditionalNames" />

                          

                            <div class="form-group col-md-12 page-cart mt-20" id="div_pricing">



                            </div>

                            <input type="hidden" value="" id="txt_TotalAmount" name="TotalAmount" />








                            <div class="form-group col-md-12">
                                <br>
                                <div class="button">
                                    <button type="submit" class="theme-button">Book Now</button>
                                </div>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
        </div>


    </div>
</div>


@section scripts{
    <link href="~/Plesirthemes/mdtimepicker/mdtimepicker.css" rel="stylesheet" />
    <script src="~/Plesirthemes/mdtimepicker/mdtimepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>


    <script>
        var townshipid;
        var customerid = '@ViewBag.customerid';
        var ismember = '@ViewBag.ismember';
        var carcategoryid;
        var cartype;
        var basicprice;
        var total;
        var additionalids;
        var additionalsname;
        var additionalprices;
        $(function () {

            $('#datestart').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }, function (start, end, label) {
             //   var years = moment().diff(start, 'years');
            //    alert("You are " + years + " years old!");
            });

            $('#timepicker').mdtimepicker();


            GetCarListByCustomer();

            BindTownshipList();


            $("input[type='radio'].rad_washType").change(function () {
                if ($("input[type='radio'].rad_washType").is(':checked')) {
                    var washtype = $("input[type='radio'].rad_washType:checked").val();
                    if (washtype == "In-House") {
                        $('.div_address').show();
                        $('.div_township').hide();
                        $('.div_branch').hide();
                        $('#txt_BranchId').val(0);

                    } else {
                        $('.div_address').hide();
                        $('.div_township').show();
                        $('.div_branch').show();

                    }
                }
            });


            $("#bookingform").validate({
                rules:
                {
                    WashOption: {
                        required: true
                    },
                    selecttownship:
                    {
                        required: true
                    },
                    selectbranch:
                    {
                        required: true
                    },
                    selectpacakges: {
                        required: true
                    }

                },
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                //    alert("submit");

                    // $("#bookingform").submit(function (e) {
                    //  e.preventDefault();
                    if ($("input[type='radio'].rad_washType:checked").length != 0) {

                        $('#pageloading').show();

                        $.ajax({
                            cache: false,
                            url: '@Url.Action("SaveBooking", "Book")',
                            type: "Post",
                            data: $(form).serialize(),
                            beforeSend: function () {
                                $('.btn').prop("disabled", true);

                            },
                            success: function (myData) {
                                if (myData != null) {
                                    window.location.replace('../book/bookingsuccess?Id=' + myData.Id);
                                } else {
                                    alert("Fail");
                                }


                            },
                            complete: function () {
                                $('.btn').prop("disabled", true);
                                $('#pageloading').hide();

                            }
                        })
                    } else {
                        $('#errWashOption').text('You must select wash option.')
                    }

                        // })





                }

            });


            //$('#datestart').datepicker({
            //    uiLibrary: 'bootstrap'
            //});
        })


           function BindTownshipList() {
             $.ajax({
                cache: false,
                url: '@Url.Action("GetTownshipList", "Book")',
                beforeSend: function () {

                },
                success: function (result) {

                    $('#township').empty();
                    $('#township').append('<option value="">Choose Township</option>')
                    for (var i = 0; i < result.length; i++) {
                        $('#township').append('<option value="' + result[i].Id + '">' + result[i].Name +'</option>')
                    };

                    //$('#township').select2({
                    //    placeholder: "Choose Township",
                    //    allowClear: true
                    //});


                },

                complete: function () {

                   // alert($("#txt_carcategory").val());




                    $('#township').on('change', function () {
                        townshipid = $('#township :selected').val();
                        BindBrandListByTownship();
                        $("#txt_township").val(townshipid);

                    });


                }
            })
        }






        function BindBrandListByTownship() {
             $.ajax({
                cache: false,
                url: '@Url.Action("GetBrandListByTownship", "Book")',
                data: {
                    townshipid : townshipid
                },
                beforeSend: function () {

                },
                success: function (result) {

                    $('#branch').empty();
                    $('#branch').append('<option value="">Choose Branch</option>')
                    for (var i = 0; i < result.length; i++) {
                        $('#branch').append('<option value="' + result[i].Id + '">' + result[i].LocationName +'</option>')
                    };

                    //$('#branch').select2({
                    //    placeholder: "Choose Branch",
                    //    allowClear: true
                    //});


                },

                complete: function () {


                    $('#branch').on('change', function () {
                        var id = $('#branch :selected').val();

                        $("#txt_BranchId").val(id);

                    });


                }
            })
        }




        function GetCarListByCustomer() {
             $.ajax({
                cache: false,
                url: '@Url.Action("GetCarListByCustomer", "Book")',
                data: {
                    customerid: customerid
                },
                beforeSend: function () {

                },
                success: function (result) {

                    console.log(result);

                    $('#caravailable').empty();
                    $('#caravailable').append('<option value="">Choose Car</option>')
                    for (var i = 0; i < result.length; i++) {
                        $('#caravailable').append('<option data-carcategoryid="' + result[i].carcategoryid + '" data-cartype="' + result[i].carcategorytype + '" value="' + result[i].carid + '">' + result[i].carbrand + ' ' + result[i].carname + '(' + result[i].carcategoryname + ')</option>')

                    };

                    //$('#caravailable').select2({
                    //    placeholder: "Choose Car",
                    //    allowClear: true
                    //});

                },

                complete: function () {

                   // alert($("#txt_carcategory").val());

                    $('#caravailable').on('change', function () {
                        var id = $('#caravailable :selected').val();


                        cartype = $('#caravailable :selected').data('cartype');
                        carcategoryid = $('#caravailable :selected').data('carcategoryid');

                        $("#txt_CustomerVehicleId").val(id);
                        $("#txt_CarCategoryId").val(carcategoryid);

                        if (ismember == true) {


                        } else {
                       
                            GetMemberPackages();
                        }

                        $('#div_carcategory').empty();
                        $('#div_additionalservice').empty();
                        $('#div_pricing').empty();


                    });


                }
            })
        }


        function GetAdditionalService() {
             $.ajax({
                cache: false,
                url: '@Url.Action("GetAdditionalService", "Book")',
                data: {
                    cartype: cartype
                },
                beforeSend: function () {

                },
                success: function (result) {


                    $('#div_additionalservice').empty().append('<label for="note" class="mb-0">Choose Additional Service (optional)</label>');

                    for (var i = 0; i < result.length; i++) {

                        if (result[i].IsDailyHot == true) {
                            $('#div_additionalservice').append(`<div><label>
                            <input type="checkbox" value="${result[i].Name}"
                                    data-price="${result[i].Price}" data-id="${result[i].Id}"
                                    data-dailyhot="${result[i].IsDailyHot}"
                                    data-discount="${result[i].DiscountPrice}"
                                    class="option-input checkbox chk_additionalservice" />
                                   ${result[i].Name} 
                            </label>
                            <span class="badge badge-danger ml-5 fs-12">Daily Hot</span>
                            <span style="text-decoration: line-through;">(${result[i].Price} MMK)</span>
                            <span class="font-bold">(${result[i].DiscountPrice} MMK)</span>

                            </div>`)
                        } else {
                            $('#div_additionalservice').append(`<div><label>
                            <input type="checkbox" value="${result[i].Name}"
                                    data-price="${result[i].Price}" data-id="${result[i].Id}"
                                    data-dailyhot="${result[i].IsDailyHot}"
                                    data-discount="${result[i].DiscountPrice}"
                                    class="option-input checkbox chk_additionalservice" />
                                   ${result[i].Name} (${result[i].Price} MMK)
                            </label></div>`)
                        }

                      
                    };


                },

                complete: function () {


                  
                    $('.chk_additionalservice').on("click", function () {
                        additionalids = "";
                        additionalsname = "";
                        additionalprices = "";

                        total = basicprice;


                        if ($('.chk_additionalservice:checked').length == 0) {
                            $('#div_total').empty().append(`
                                 <span>
                                        ${total} MMK</span>

                             `);
                        }


                        $('#div_additionalCalc').empty();
                        $('.chk_additionalservice:checked').each(function () {

                           // specialties += $(this).val() + "_";
                            var name = $(this).val();
                            var price = $(this).data('price');
                            var id = $(this).data('id');
                            var isdailyhot = $(this).data('dailyhot');
                            var discount = $(this).data('discount');

                           

                            if (isdailyhot == true) {
                                additionalids += id + "_";
                                additionalsname += name + "_";
                                additionalprices += discount + "_";
                                total += discount;

                                $('#div_additionalCalc').append(`
                                  <div class="ct-row">
                                    <div class="ct-left">${name}<span class="badge badge-danger ml-5 fs-12">Daily Hot</span></div>
                                    <div class="ct-right"><span>
                                      ${discount} MMK</span></div>
                                    <div class="clear"></div>
                                </div>

                             `);

                                $('#div_total').empty().append(`
                                 <span>
                                        ${total} MMK</span>

                             `);


                            } else {
                                additionalids += id + "_";
                                additionalsname += name + "_";
                                additionalprices += price + "_";
                                total += price;

                                $('#div_additionalCalc').append(`
                                  <div class="ct-row">
                                    <div class="ct-left">${name}</div>
                                    <div class="ct-right"><span>
                                     ${price} MMK</span></div>
                                    <div class="clear"></div>
                                </div>

                             `);

                                $('#div_total').empty().append(`
                                 <span>
                                        ${total} MMK</span>

                             `);
                            }

                           

                        });
                        additionalids = additionalids.slice(0, -1);
                        additionalsname = additionalsname.slice(0, -1);
                        additionalprices = additionalprices.slice(0, -1);


                        $('#txt_AdditionalIds').val(additionalids);
                        $('#txt_AdditionalNames').val(additionalsname);
                        $('#txt_AdditionalPrices').val(additionalprices);

                        $('#txt_TotalAmount').val(total);

                    });


                }
            })
        }





        function GetCarCategoryByID() {
             $.ajax({
                cache: false,
                url: '@Url.Action("GetCarCategoryByID", "Book")',
                data: {
                    id: carcategoryid
                },
                beforeSend: function () {

                },
                success: function (result) {

                    $('#div_carcategory').empty();

                    console.log(result);
                    basicprice = result.BasicPrice;


                    if (result.Type == "big") {
                        $('#div_carcategory').append(`<label for="note" id="lbl_package">Package for</label>
                                <div class="chk-package">

                                    <div class="div-img position-relative">
                                        <div class="vsb-price">
                                            ${result.BasicPrice} MMK
                                        </div>
                                        <img src="../Plesirthemes/img/destination1.jpg" alt="img">
                                        <div class="vsb-middle">
                                            <div class="vsbm-left">
                                                ကားကြီး
                                            </div>

                                        </div>
                                    </div>



                                </div>`)
                    }
                    else if (result.Type == "medium") {
                        $('#div_carcategory').append(`<label for="note" id="lbl_package">Package for</label>
                            <div class="chk-package">

                                <div class="div-img position-relative">
                                    <div class="vsb-price">
                                       ${result.BasicPrice} MMK
                                        </div>
                                    <img src="../Plesirthemes/img/destination1.jpg" alt="img">
                                        <div class="vsb-middle">
                                            <div class="vsbm-left">
                                                ကားလတ်
                                            </div>

                                        </div>
                                    </div>



                                </div>`)

                    }
                    else if (result.Type == "small") {
                        $('#div_carcategory').append(` <label for="note" id="lbl_package">Package for</label>
                                <div class="chk-package">

                                    <div class="div-img position-relative">
                                        <div class="vsb-price">
                                            ${result.BasicPrice} MMK
                                        </div>
                                        <img src="../Plesirthemes/img/destination1.jpg" alt="img">
                                        <div class="vsb-middle">
                                            <div class="vsbm-left">
                                                ကားသေး
                                            </div>

                                        </div>
                                    </div>



                                </div>`)

                    }




                },

                complete: function () {

                    changePrice();
                 

                }
            })
        }



        function changePrice() {
            var cartypedisplay;
            total = basicprice;

            if (cartype == "big") {
                cartypedisplay = "ကားကြီး";
            } else if (cartype == "small") {
                cartypedisplay = "ကားသေး";
            } else if (cartype == "medium") {
                cartypedisplay = "ကားလတ်";
            }


            $('#div_pricing').append(`
              <div class="cart-total">
                <div class="ct-row">
                    <div class="ct-left">${cartypedisplay}</div>
                    <div class="ct-right"><span>
                                  ${basicprice} MMK</span></div>
                    <div class="clear"></div>
                </div>
                <div id="div_additionalCalc">

                </div>


                <div class="ct-row total">
                    <div class="ct-left">Total</div>
                    <div class="ct-right" id="div_total"><span>
                          ${total} MMK</span></div>
                    <div class="clear"></div>
                </div>
            </div>
           `)

            $('#txt_TotalAmount').val(total);

        }




           function GetMemberPackages() {
             $.ajax({
                cache: false,
                url: '@Url.Action("GetMemberPackages", "Book")',
                 data: {
                     customerid: customerid, cartype: cartype
                },
                beforeSend: function () {

                },
                success: function (result) {

                    console.log(result);

                    $('#ddpackages').empty();
                    $('#ddpackages').append('<option value="">Choose Packages</option>')
                    $('#ddpackages').append('<option value="0">Custom Packages</option>')

                    for (var i = 0; i < result.length; i++) {
                        $('#ddpackages').append('<option value="' + result[i].ID + '" data-memberpackagesname="' + result[i].Title + '"  data-serviceids="' + result[i].AdditionalServiceIds + '"  data-servicenames="' + result[i].AdditionalServiceNames + '" data-packageprice= "' + result[i].PackagePrice + '"  >' + result[i].Title + '(' + result[i].CarType + ')</option>')

                    };

                    //$('#caravailable').select2({
                    //    placeholder: "Choose Car",
                    //    allowClear: true
                    //});

                },

                complete: function () {

                   // alert($("#txt_carcategory").val());
                    
                   

                }
            })
        }



        function packageschange() {
         
                var id = $('#ddpackages').val();

           


                if (id == 0) {
                    $('#div_carcategory').empty();
                    $('#div_pricing').empty();
                    $('#div_additionalservice').empty();

                    $('#txt_AdditionalIds').val('');
                    $('#txt_AdditionalPrices').val('');
                    $('#txt_AdditionalNames').val('');

                    //if (cartype == "ကားကြီး") {
                    //    cartype = "big"
                    //}
                    //else if (cartype == "ကားလတ်") {
                    //    cartype = "medium"
                    //}
                    //else if (cartype == "ကားသေး") {
                    //    cartype = "small"
                    //} 

                    $('#txt_memberpackagesid').val(0);
                    $('#txt_memberpackagesname').val('');
                    $('#txt_bookingpackage').val("Normal");
                    //   alert(cartype);

                    GetCarCategoryByID();
                    GetAdditionalService();

                  

                } else {



                    var serviceids = $('#ddpackages :selected').data('serviceids').split('_');
                    var servicenames = $('#ddpackages :selected').data('servicenames').split('_');
                    var packageprice = $('#ddpackages :selected').data('packageprice');
                    txt_AdditionalPrices
                    $('#txt_AdditionalPrices').val('');
                    $('#txt_AdditionalIds').val($('#ddpackages :selected').data('serviceids'));
                    $('#txt_AdditionalNames').val($('#ddpackages :selected').data('servicenames'));

                    $('#txt_memberpackagesid').val($('#ddpackages :selected').val());
                    $('#txt_memberpackagesname').val($('#ddpackages :selected').data('memberpackagesname'));


                    $('#txt_bookingpackage').val("Special");
                    $('#txt_TotalAmount').val(packageprice);

                    console.log(servicenames);
                    console.log(cartype);
                    $('#div_carcategory').empty();
                    $('#div_pricing').empty();
                    $('#div_additionalservice').empty();

                    //if (cartype == "big") {
                    //    cartype = "ကားကြီး";
                    //} else if (cartype == "small") {
                    //    cartype = "ကားသေး";
                    //} else if (cartype == "medium") {
                    //    cartype = "ကားလတ်";
                    //}



                    if (cartype == "big") {
                        $('#div_carcategory').append(`<label for="note" id="lbl_package">Package for</label>
                                <div class="chk-package">

                                    <div class="div-img position-relative">
                                        <div class="vsb-price">
                                            ${packageprice} MMK
                                        </div>
                                        <img src="../Plesirthemes/img/destination1.jpg" alt="img">
                                        <div class="vsb-middle">
                                            <div class="vsbm-left">
                                                ကားကြီး
                                            </div>

                                        </div>
                                    </div>



                                </div>`)
                    }
                    else if (cartype == "medium") {
                        $('#div_carcategory').append(`<label for="note" id="lbl_package">Package for</label>
                               <div class="chk-package">

                                <div class="div-img position-relative">
                                    <div class="vsb-price">
                                       ${packageprice} MMK
                                        </div>
                                    <img src="../Plesirthemes/img/destination1.jpg" alt="img">
                                        <div class="vsb-middle">
                                            <div class="vsbm-left">
                                                ကားလတ်
                                            </div>

                                        </div>
                                    </div>



                                </div>`)

                    }
                    else if (cartype == "small") {
                        $('#div_carcategory').append(` <label for="note" id="lbl_package">Package for</label>
                                <div class="chk-package">

                                    <div class="div-img position-relative">
                                        <div class="vsb-price">
                                            ${packageprice} MMK
                                        </div>
                                        <img src="../Plesirthemes/img/destination1.jpg" alt="img">
                                        <div class="vsb-middle">
                                            <div class="vsbm-left">
                                                ကားသေး
                                            </div>

                                        </div>
                                    </div>



                                </div>`)

                    }


                    for (var i = 0; i < servicenames.length; i++) {
                        $('#div_additionalservice').append(`<div><label>
                                    <input type="checkbox" value="${servicenames[i]}" class="option-input checkbox" disabled="disabled" checked  />
                                           ${servicenames[i]}
                                    </label></div>`)


                    }





                    var elements = `<div class="cart-total">`;
                    for (var i = 0; i < servicenames.length; i++) {
                        elements += `<div class="ct-row">
                                        <div class="ct-left">${servicenames[i]}</div>                                       
                                        <div class="clear"></div>
                                    </div>`;
                    }
                    elements += `<div class="ct-row total">
                                        <div class="ct-left">Total</div>
                                        <div class="ct-right" id="div_total"><span>
                                              ${packageprice} MMK</span></div>
                                        <div class="clear"></div>
                                    </div>`;
                    elements += `</div>`;

                    $('#div_pricing').append(elements);





                }



        

        }

    </script>





}