@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}


@model Infra.Helper.CarPhotoModel

<style>

    /*.select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 35px !important;
        position: relative !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 32px !important
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 3px !important
    }


    .select2-hidden-accessible {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
        top: 32px !important;
        left: 100px !important
    }*/

    .nopad {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    /*image gallery*/
    .image-checkbox {
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 4px solid transparent;
        margin-bottom: 0;
        outline: 0;
    }

        .image-checkbox input[type="checkbox"] {
            display: none !important;
        }

    .image-checkbox-checked {
        border-color: #4783B0;
    }

    .image-checkbox .fa {
        position: absolute;
        color: #4A79A3;
        background-color: #fff;
        padding: 10px;
        top: 0;
        right: 0;
    }

    .image-checkbox-checked .fa {
        display: block !important;
    }

    .chk-package .vsb-middle {
        padding: 5px 0px;
        font-weight: 600;
        font-size: 12px;
    }

    .chk-package .vsbm-left {
        color: #000;
        display: inline-block;
    }


    .chk-package .vsbm-right {
        display: inline-block;
        color: #df9403;
        float: right;
    }

    .div-img {
        width: 120px;
        border-radius: 10px;
    }

        .div-img img {
            width: 120px;
            height: 80px;
            border-radius: 10px;
            object-fit: cover
        }

    .vsb-price {
        /*  color: #00c9a7;*/
        color: #fff;
        position: absolute;
        padding: 3px 5px;
        background-color: #00c9a7;
        top: 7px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        right: 7px;
        font-size: 11px !important;
    }

    .div-active {
        border: 3px solid #00c9a7;
    }

    input[type=checkbox], input[type=radio] {
        display: none
    }


    .btn-group-justified {
        width: 100%
    }


    .btn-light {
        color: #212529 !important;
        background-color: #dae0e5 !important;
        border-color: #d3d9df !important;
    }

    .active {
        color: #fff !important;
        background: #00c9a7 !important
    }

    .image-upload-wrap {
        border: 2px solid #e6e9f2;
        position: relative;
        background-color: #e6e9f2;
        width: 120px;
        height: 80px;
        border-radius: 10px;
        display: inline-block;
        cursor: pointer
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 120px;
        height: 80px;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .subsite-banner {
        height: 127px !important
    }
</style>

<div class="content-wrap">

    <div class="subsite-banner">
        <img src="~/Plesirthemes/EcoPhoto/carwash3.jpg">
    </div>
    <div class="subsite subsite-with-banner">

        <div class="row">
            <div class="col-md-12">
                <div class="subsite-heading">
                    Add a car
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-layout">
                    <form id="CarForm">
                        <div class="form-row">

                            <input type="hidden" name="vehicle.Id" value="@Model.vehicle.Id" />
                            <input type="hidden" name="vehicle.CustomerId" value="@Model.vehicle.CustomerId" />

                            <div class="form-group col-md-12 mt-20">
                                <label for="note">Upload car photo(s)</label>
                                <input type="hidden" name="vehicle.CarPhoto" id="multiplePhoto" />
                                <div class="display-flex-row chk-package multiplephotoupload">

                                    @if (Model.photos != null)
                                    {
                                        if (Model.photos.Count() > 0)
                                        {
                                            foreach (var item in Model.photos)
                                            {
                                                <div class="display-flex-column mb-10 pr-10" data-image="" id="rmimage_@item.ID">

                                                    <div class="div-img text-center">

                                                        <img src="@item.PhotoUrl" alt="img">
                                                        <i class="fas fa-trash-alt text-danger" id="removeButton_@item.ID" aria-label="Close"
                                                           onclick="DeletePhoto(@item.ID)" photoId="@item.ID"></i>

                                                    </div>
                                                </div>
                                            }

                                        }
                                    }

                                    <div class="display-flex-column mb-10" id="placeholder">
                                        <div class="image-upload-wrap">

                                            <input id="gallery-photo-add" class="file-upload-input" multiple="" type="file">

                                            <div class="drag-text" style="text-align: center;padding:24px;">
                                                <img src="../Plesirthemes/EcoPhoto/camera.png" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label>Model Name</label>
                                <div class="field-group">
                                    <i class="fas fa-car"></i>
                                    <div class="input-group">
                                        <input class="form-control pl-35" name="vehicle.VehicleName" placeholder="Vehicle Name"
                                               value="@Model.vehicle.VehicleName" data-error="#errVehicleName" required aria-label="car" />

                                    </div>
                                    <div id="errVehicleName" class="error-message"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label>Brand</label>
                                <div class="field-group">
                                    <i class="fas fa-car"></i>
                                    <div class="input-group">
                                        <input class="form-control pl-35" required name="vehicle.VehicleBrand"
                                               data-error="#errVehicleBrand"
                                               placeholder="Brand" value="@Model.vehicle.VehicleBrand"
                                               aria-label="car" />
                                    </div>
                                    <div id="errVehicleBrand" class="error-message"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label>Car No</label>
                                <div class="field-group">
                                    <i class="fas fa-car"></i>
                                    <div class="input-group">
                                        <input class="form-control pl-35" required
                                               data-error="#errVehicleNo"
                                               name="vehicle.VehicleNo" placeholder="1A/BBBB" value="@Model.vehicle.VehicleNo"
                                               aria-label="car" />
                                    </div>
                                    <div id="errVehicleNo" class="error-message"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label>Choose Car Type</label>
                                <div class="field-group">
                                    <i class="fas fa-dice-d6"></i>
                                    <select class="custom-select mr-sm-2 with-icon" id="CarType"  data-error="#errVehicleCarType" required>
                                        <option value="">Choose Car Type</option>
                                        <option value="small">Small</option>
                                        <option value="medium">Medium</option>
                                        <option value="big">Big</option>

                                    </select>

                                    <input type="hidden" name="" id="txt_cartype" value="@Model.carcategory.Type" />

                                </div>
                                <div id="errVehicleCarType" class="error-message"></div>
                            </div>

                            <div class="form-group col-md-12">
                                <label>Choose Car Category</label>
                                <div class="field-group">
                                    <i class="fas fa-dice-d6"></i>
                                    <select name="ErrorVehicleCarCat" class="custom-select mr-sm-2 with-icon" data-error="#errVehicleCarCat" id="CarCategory" required>
                                        <option value="">Choose Car Category</option>
                                       
                                    </select>

                                    <input type="hidden" name="vehicle.CarCategoryId" id="txt_carcategory" value="@Model.vehicle.CarCategoryId" />
                                </div>
                                <div id="errVehicleCarCat" class="error-message"></div>
                            </div>


                            <div class="form-group col-md-12">
                                <label>Car Color</label>
                                <div class="field-group">
                                    <i class="fas fa-car"></i>
                                    <div class="input-group">
                                        <input class="form-control pl-35" required name="vehicle.VehicleColor"
                                               data-error="#errVehicleColor"
                                               value="@Model.vehicle.VehicleColor"
                                               placeholder="eg. red" aria-label="car" />
                                    </div>
                                    <div id="errVehicleColor" class="error-message"></div>
                                </div>
                            </div>


                            @*<div class="form-group col-md-12">
                                    <label>Color</label>
                                    <div class="field-group">
                                        <i class="fas fa-dice-d6"></i>
                                        <select class="custom-select mr-sm-2 with-icon" id="color">
                                            <option selected disabled>Please select</option>
                                            <option value="1">Red</option>
                                            <option value="2">Blue</option>
                                            <option value="3">Green</option>
                                            <option value="4">Blue</option>

                                        </select>
                                    </div>
                                </div>*@



                         

                        <div class="form-group col-md-12">
                            <div id="errCarNoExists" class="error-message text-center" style="display:none">Car No. already exists in our system.</div>
                            <br>
                            <div class="button">
                                <button type="submit" class="theme-button">Save</button>
                            </div>
                        </div>

                        </div>


                    </form>
                </div>
            </div>
        </div>


    </div>
</div>


@section scripts{
    <link href="~/Plesirthemes/mdtimepicker/mdtimepicker.css" rel="stylesheet" />
    <script src="~/Plesirthemes/mdtimepicker/mdtimepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  

    <script>
        var photoRemove = [];
        var filename = [];
        var index = 0;

        var filescount;
        var count = 0;
        var cartype;


        $(function () {

            $("#CarForm").validate({
                rules:
                {
                    ErrorVehicleCarCat:
                    {
                        required: true
                    }
                },
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                 
                 //   $("#CarForm").submit(function (e) {
                     //    $(form).preventDefault();

                    $('#pageloading').show();

                        imagesstring = "";
                        var images = "";

                      $('#placeholder').remove();

                     $('.multiplephotoupload').find('.div_photo').each(function () {
                            images = $(this).attr("data-image");
                            console.log("hello");
                            console.log(images);
                            imagesstring += images + "~";
                            console.log(imagesstring);
                            images = "";
                        });


                        imagesstring = imagesstring.slice(0, -1);


                        $('#multiplePhoto').val(imagesstring);

                        $.ajax({
                            cache: false,
                            url: '@Url.Action("SaveCarAsync", "Car")',
                            type: "Post",
                            data: $(form).serialize(),


                            beforeSend: function () {
                                $('.btn').prop("disabled", true);

                            },
                            success: function (myData) {
                                if (myData == "Success") {
                                    Swal.fire({
                                        title: 'Success!',
                                        text: "Car Successfully Added!",
                                        icon: 'success',
                                        //showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'OK!'

                                    }).then((result) => {
                                        if (result.value) {

                                            window.location.replace('../Car/Add?Id=@ViewBag.id&type=@ViewBag.formtype&customerid=@ViewBag.customerid');
                                        }
                                    })

                                    $('#errCarNoExists').hide();


                                } else if (myData == "E001") {
                                    $('.btn').prop("disabled", false);
                                    $('#errCarNoExists').show();

                                    $('.multiplephotoupload').append(`

                                     <div class="display-flex-column pr-10 mb-10" id="placeholder">
                                        <div class="image-upload-wrap">

                                            <input id="gallery-photo-add" class="file-upload-input" multiple="" type="file">

                                            <div class="drag-text" style="text-align: center;padding:24px;">
                                                <img src="../Plesirthemes/EcoPhoto/camera.png" />

                                            </div>
                                        </div>




                                    </div>




                        `)

                                    $('#gallery-photo-add').on('change', function () {
                                        imagesPreview(this, 'div.multiplephotoupload');
                                    });
                                }
                            },
                            complete: function () {
                                $('.btn').prop("disabled", false);
                                $('#pageloading').hide();
                              //  window.location.replace('../Consultation/Note?AppointmentID=' + AppointmentID + '&userappid=' + userappid + '&lg=' + '@ViewBag.lg');

                            }
                        })
                     //    })

                }

            });

            //$('#CarType').select2({
            //    containerCssClass: function (e) {
            //        return $(e).attr('required') ? 'required' : '';
            //    }
            //});
            //$('#CarCategory').select2();


            if ('@ViewBag.formtype' == "Edit") {

                cartype = $("#txt_cartype").val();
                $('#CarType').val(cartype);
                BindCarCategory();
            }

            $('#CarType').on('change', function () {
                cartype = $('#CarType :selected').val();
                BindCarCategory();
            });



            $('#DD_price').val($("#priceid").val());

            $('#datestart').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }, function (start, end, label) {
             //   var years = moment().diff(start, 'years');
            //    alert("You are " + years + " years old!");
            });

            $('#timepicker').mdtimepicker();

            $('#gallery-photo-add').on('change', function () {
                uploadCar();
                imagesPreview(this, 'div.multiplephotoupload');
            });



        })



        function BindCarCategory() {
             $.ajax({
                cache: false,
                url: '@Url.Action("GetCategory", "Car")',
                data: {
                    cartype: cartype
                },
                beforeSend: function () {

                },
                success: function (result) {
                    //$('#ddaudio').select2({
                    //    placeholder: "Choose option or type",
                    //    allowClear: true
                    //});
                    $('#CarCategory').empty();
                    $('#CarCategory').append('<option value="">Choose Car Category</option>')
                    for (var i = 0; i < result.length; i++) {
                        $('#CarCategory').append('<option value="' + result[i].Id + '">' + result[i].Name +'</option>')
                    };



                    //$('#CarCategory').select2({
                    //    placeholder: "Choose Car Category",
                    //    allowClear: true
                    //});


                },

                complete: function () {

                   // alert($("#txt_carcategory").val());

                    $('#CarCategory').val(parseInt($("#txt_carcategory").val()));


                    $('#CarCategory').on('change', function () {
                        var id = $('#CarCategory :selected').val();

                        $("#txt_carcategory").val(id);

                    });


                }
            })
        }







        function imagesPreview(input, placeToInsertImagePreview) {
                if (input.files) {

                    filesAmount = input.files.length;
                  //  filescount = input.files.length;
                  //  count = count + filescount;
                  //  var filetotal = parseInt(filesAmount) + parseInt(picturetotal);
                    for (i = 0; i < filesAmount; i++) {
                        console.log(i);

                        multipleupload(input.files[i], index);
                        index++;

                    }
            }

            };



        function multipleupload(input, index) {

            var reader = new FileReader();

            console.log(input.name);

            var img = document.createElement("img");

                reader.onload = function (e) {

                    img.src = e.target.result;
                    var mime_type = "image/jpeg";
                    if (typeof output_format !== "undefined" && output_format == "png") {
                        mime_type = "image/png";
                    }
                    img.onload = function () {
                        var canvas = document.createElement("canvas");
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(img, 0, 0);

                        var MAX_WIDTH = 1200;
                        var MAX_HEIGHT = 1200;
                        var width = img.width;
                        var height = img.height;

                        if (width > height) {
                            if (width > MAX_WIDTH) {
                                height *= MAX_WIDTH / width;
                                width = MAX_WIDTH;
                            }
                        } else {
                            if (height > MAX_HEIGHT) {
                                width *= MAX_HEIGHT / height;
                                height = MAX_HEIGHT;
                            }
                        }

                        canvas.width = width;
                        canvas.height = height;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                        var dataurl = canvas.toDataURL(mime_type, 60 / 100);

                       // $('.multiplephotoupload').append('<div class="col-md-3 col-sm-3 col-xs-3 text-center imagedivloop" data-filename="' + input.name + '"  data-image="' + dataurl + '" id="rmimage_' + index + '"><img  id="imagephoto_' + index + '" src = "' + dataurl + '" style="object-fit:cover;width:60px;height:60px;border-radius:10px;margin-top:10px"><br><span class="glyphicon glyphicon-remove-sign" id="removeButton_' + index + '" aria-label="Close" index="' + index + '" imageid="' + dataurl + '" onclick=removeimage(this)></span></div>')


                        $('#placeholder').remove();
                        $('.multiplephotoupload').append(`<div class="display-flex-column pr-10 div_photo mb-10" data-image="${dataurl}" id="rmimage_${index}">

                                            <div class="div-img text-center">

                                                <img src="${dataurl}" alt="img">
                                                <i class="fas fa-trash-alt text-danger" id="removeButton_${index}" aria-label="Close" index="${index}" imageid="${dataurl}" onclick=removeimage(this)></i>

                                            </div>
                                        </div>

                                     <div class="display-flex-column pr-10 mb-10" id="placeholder">
                                        <div class="image-upload-wrap">

                                            <input id="gallery-photo-add" class="file-upload-input" multiple="" type="file">

                                            <div class="drag-text" style="text-align: center;padding:24px;">
                                                <img src="../Plesirthemes/EcoPhoto/camera.png" />

                                            </div>
                                        </div>




                                    </div>




                        `)

                        $('#gallery-photo-add').on('change', function () {
                            imagesPreview(this, 'div.multiplephotoupload');
                        });


                        picturetotal = $("#pictureTotal").val();

                        picturetotal++;

                        $("#pictureTotal").val(picturetotal);

                        photoRemove.push(index);
                        index++;



                    }



                    }




                reader.readAsDataURL(input);


        }



        function removeimage(e) {

            picturetotal = $("#pictureTotal").val();
            picturetotal--;
            $("#pictureTotal").val(picturetotal);


            var carimage = $(e).attr("imageid");
            var index = $(e).attr("index");

            photoRemove.splice(index, 1);

            $("#rmimage_" + index).remove();


        }


        function DeletePhoto(photoId)
        {


            $.ajax({
                cache: false,
                url: '@Url.Action("DeletePhoto", "Car")',
                data: { photoId: photoId },
                beforeSend: function () {

                },
                success: function (result) {
                    if (result == "Success") {
                        $("#rmimage_" + photoId).remove();
                    }
                },
                complete: function () {

                }
            });

        }



        function uploadCar() {
            if (window.Car && window.Car.postMessage) {
                Car.postMessage("Upload Now");
            }
        }


    </script>





}