
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

<style>

    .item ul {
        list-style: none outside none;
        padding-left: 0;
        margin-bottom: 0;
    }

    .item li {
        display: block;
        float: left;
        margin-right: 6px;
        cursor: pointer;
    }

    .item img {
        display: block;
        height: auto;
        max-width: 100%;
        width: 100%;
    }

    .lSAction > a {
        background-image: unset !important;
    }

    .attr {
        border-bottom: 1px solid #ebebeb;
        padding: 20px 0;
    }

    #content{
        background:#fff!important
    }

    body{
        background:#fff!important
    }

</style>

@model Infra.Helper.CarPhotoModel

<div class="container mt-10 page-cart">


    <div class="subsite-heading mt-10 fs-22">
        @Model.vehicle.VehicleBrand @Model.vehicle.VehicleName
    </div>


    <ul id="lightSlider" class="item mt-10">

        @foreach (var item in Model.photos)
        {
            <li data-thumb="@item.PhotoUrl">
                <img class="br-10" src="@item.PhotoUrl" />
            </li>
        }



        @*<li data-thumb="/Plesirthemes/img/car2-honda2.png">
                <img class="br-10" src="~/Plesirthemes/img/car2-honda2.png" />
            </li>

            <li data-thumb="https://kktstroage.azureedge.net/yammo/mycar/905f225f-2486-4f59-9996-573f8d2902e2.png">
                <img class="br-10" src="https://kktstroage.azureedge.net/yammo/mycar/905f225f-2486-4f59-9996-573f8d2902e2.png" />
            </li>

            <li data-thumb="https://kktstroage.azureedge.net/yammo/mycar/c7d80973-a5be-4a01-86eb-650a671bb2d0.png">
                <img class="br-10" src="https://kktstroage.azureedge.net/yammo/mycar/c7d80973-a5be-4a01-86eb-650a671bb2d0.png" />
            </li>*@



    </ul>


    <div class="row">

        <div class="form-group col-md-12">
           
            <div class="button m-0">
                <button type="button" class="theme-button" onclick="editcar('@Model.vehicle.Id','@Model.vehicle.CustomerId')">Edit</button>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">

                <div class="cart-box-detail">
                    <ul>
                        <li><i class="fas fa-car"></i> <label>Car No</label> : @Model.vehicle.VehicleColor</li>
                        <li><i class="fas fa-car"></i> <label>Build Types</label> : @Model.carcategory.Name</li>
                        <li><i class="fas fa-cubes"></i> <label>Color</label> :  @Model.vehicle.VehicleColor</li>



                    </ul>
                </div>
            </div>
        </div>
    </div>


    @*<div class="panel-custom-default mt-30 p-20">

            <div class="display-flex-row attr pt-0">
                <div class="display-flex-column d-block">

                        <i class="fas fa-car"></i>&nbsp;&nbsp; Car No

                </div>
                <div class="display-flex-column ml-auto">
                    <h6>
                       @Model.vehicle.VehicleNo
                    </h6>

                </div>


            </div>
            <div class="display-flex-row attr">
                <div class="display-flex-column d-block">
                    <i class="fas fa-car-side"></i>&nbsp;&nbsp; Build Types
                </div>
                <div class="display-flex-column ml-auto">
                    <h6>
                        @Model.carcategory.Name
                    </h6>

                </div>


            </div>

            <div class="display-flex-row attr">
                <div class="display-flex-column d-block">
                    <i class="fas fa-dice-d6"></i>&nbsp;&nbsp; Color
                </div>
                <div class="display-flex-column ml-auto">
                    <h6>
                       @Model.vehicle.VehicleColor
                    </h6>

                </div>


            </div>



        </div>*@



</div>


 





@section scripts{

    <link href="~/Plesirthemes/lightSlider/css/lightslider.css" rel="stylesheet" />
    <script src="~/Plesirthemes/lightSlider/js/lightslider.js"></script>
    <script>

        $(function () {


            $('#lightSlider').lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9,
                adaptiveHeight: true,
                prevHtml: '<i class="fas fa-chevron-circle-left" style="color:#00c9a7;font-size:30px"></i>',
                nextHtml: '<i class="fas fa-chevron-circle-right" style="color:#00c9a7;font-size:30px"></i>',
            });


        })


        function editcar(id, customerid) {
            location.href = '../Car/Add?Id=' + id + '&type=Edit&customerid=' + customerid;
        }

    </script>



}