@model List<Infra.Models.tbChatMessage>



@if (Model.Count() > 0)
{

    // fromuserid = me
    var fromuserid = ViewBag.fromuserid;


    foreach (var item in Model)
    {
        if (item.FromUserID == fromuserid)
        {
            if (item.Photo != null)
            {
                <div class="chat-box-wrapper flex-end">

                    <div>

                        @foreach (var p in item.Photo.Split(','))
                        {
                            <div class="chat-box mb-10" style="background:#fff" onclick="imageShow('http://filestorage.centurylinks-stock.com/ImageStorage/CarWaterlessProject/Chat/@p')">
                                <img src="http://filestorage.centurylinks-stock.com/ImageStorage/CarWaterlessProject/Chat/@p" style="width:100px;height:auto;border-radius:10px" />
                            </div>
                        }
                        <small class="opacity-6 text-right">
                            <i class="fa fa-calendar-alt mr-1"></i>
                            @item.SendDateTime.Value.ToShortTimeString()
                        </small>
                    </div>
                </div>
            }
            else
            {

               
                <div class="chat-box-wrapper flex-end">

                    <div>
                        <div class="chat-box" style="background:#fff">
                            @item.Message
                        </div>
                        <small class="opacity-6 text-right">
                            <i class="fa fa-calendar-alt mr-1"></i>
                            @item.SendDateTime.Value.ToShortTimeString()
                        </small>
                    </div>
                </div>
            }




        }
        else
        {

            if (item.Photo != null)
            {
                <div class="chat-box-wrapper">
                    <div>
                        <div class="avatar-icon-wrapper mr-1">

                            <div class="avatar-icon avatar-icon-lg rounded">
                                <img src="~/Plesirthemes/img/profile2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div>
                        @foreach (var p in item.Photo.Split(','))
                        {
                            <div class="chat-box mb-10" onclick="imageShow('http://filestorage.centurylinks-stock.com/ImageStorage/CarWaterlessProject/Chat/@p')">
                                <img src="http://filestorage.centurylinks-stock.com/ImageStorage/CarWaterlessProject/Chat/@p" style="width:100px;height:auto;border-radius:10px" />
                            </div>
                        }


                        <small class="opacity-6">
                            <i class="fa fa-calendar-alt mr-1"></i>
                            @item.SendDateTime.Value.ToShortTimeString()
                        </small>
                    </div>
                </div>
            }
            else
            {
                <div class="chat-box-wrapper">
                    <div>
                        <div class="avatar-icon-wrapper mr-1">

                            <div class="avatar-icon avatar-icon-lg rounded">
                                <img src="~/Plesirthemes/img/profile2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="chat-box">
                            @item.Message
                        </div>
                        <small class="opacity-6">
                            <i class="fa fa-calendar-alt mr-1"></i>
                            @item.SendDateTime.Value.ToShortTimeString()
                        </small>
                    </div>
                </div>
            }



            @*<div class="chat-box-wrapper flex-end">

                <div>
                    <div class="chat-box" style="background:#fff">
                        <img src="~/ArchitectThemes/image/admin.jpg" style="width:100px;height:auto" />
                    </div>
                    <small class="opacity-6 text-right">
                        <i class="fa fa-calendar-alt mr-1"></i>
                        @item.SendDateTime.Value.ToShortTimeString()
                    </small>
                </div>
            </div>*@

        }




    }




}

