
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_chatLayout.cshtml";
}


    <style>
    #content {
        max-width: 100% !important
    }

    .bg-header {
        background: #fff !important
    }

    .div-chat-footer {
        /* height: 70px;
      */
        width: 100%;
        border-top: 0px solid #ddd;
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 2;
        background: #fff !important
        /*  padding: 0px 5px 5px;*/
    }


    .pic {
        width: 3rem;
        height: 3rem;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    .contact {
        position: relative;
        padding-left: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .contact .pic {
            position: absolute;
            left: 0;
        }

        .contact .name {
            font-weight: 500;
            margin-bottom: 0.125rem;
        }

        .contact .message, .contact .seen {
            font-size: 10px;
            color: #999;
        }

        .contact .badge {
            box-sizing: border-box;
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            text-align: center;
            font-size: 0.9rem;
            padding-top: 0.125rem;
            border-radius: 1rem;
            top: 0;
            left: 2.5rem;
            background: #333;
            color: white;
        }



    .chat-layout .chat-box-wrapper {
        padding: 15px;
    }

    .chat-box-wrapper {
        display: flex;
        clear: both;
        padding: .75rem;
    }

    .avatar-icon-wrapper .badge-dot.badge-dot-lg.badge-bottom {
        top: auto;
        right: 0;
        bottom: 0;
    }

    .avatar-icon-wrapper .badge-dot.badge-dot-lg {
        width: 14px;
        height: 14px;
        border: #fff solid 2px;
        top: 0;
        right: 0;
    }

    .avatar-icon-wrapper .badge.badge-bottom {
        top: auto;
        right: -2px;
        bottom: -2px;
    }

    .avatar-icon-wrapper .badge-dot {
        width: 10px;
        height: 10px;
        border: #fff solid 2px;
    }

    .avatar-icon-wrapper .badge {
        position: absolute;
        right: -2px;
        top: -2px;
    }

    .badge-dot-lg {
        width: 10px;
        height: 10px;
    }

    .badge-dot {
        text-indent: -999em;
        padding: 0;
        width: 8px;
        height: 8px;
        border: transparent solid 1px;
        border-radius: 30px;
        min-width: 2px;
    }

    .badge {
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 10px;
        min-width: 19px;
    }

    .badge-success {
        color: #fff;
        background-color: #3ac47d;
    }

    .badge-success {
        color: #fff;
        background-color: #3ac47d;
    }

    .badge {
        display: inline-block;
        padding: .25em .4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
    }

    .avatar-icon.rounded {
        border-radius: .39rem !important;
    }

    .avatar-icon {
        /*  border: #fff solid 3px;*/
        overflow: hidden;
    }

    .avatar-icon {
        display: block;
        width: 40px;
        height: 40px;
        transition: all .2s;
        opacity: 1;
        border-radius: 50px;
    }

    .rounded {
        border-radius: .25rem !important;
    }

    .avatar-icon img {
        width: 100%;
        height: 100%;
    }

    .chat-box-wrapper .chat-box {
        box-shadow: 0 0 0 transparent;
        position: relative;
        opacity: 1;
        background: #e0f3ff;
        border: 0;
        padding: .75rem 1.5rem;
        border-radius: 30px;
        border-top-left-radius: .25rem;
        flex: 1;
        display: flex;
        max-width: 50%;
        min-width: 100%;
        text-align: left;
    }

        .chat-box-wrapper .chat-box + small {
            text-align: left;
            padding: .5rem 0 0;
            margin-left: 1.5rem;
            display: block;
        }

    .opacity-6 {
        opacity: .6 !important;
    }

    small, .small {
        font-size: 80%;
        font-weight: 400;
    }

    small {
        font-size: 80%;
    }




#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
/*.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
*/
/* 100% Image Width on Smaller Screens */
@@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

    </style>


<div id="myModal" class="modal">

    <div class="d-flex float-right">
        @*<div onclick="imagedownload()">
            <span class="fa fa-download fs-20 text-primary"></span>
        </div>*@
        <div class="ml-10" onclick="closemodal()">
            <span class="fa fa-times-circle fs-20 text-danger"></span>
        </div>

    </div>
  
    <img class="modal-content" id="img01">
 
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-header">
    <div class="container-fluid">
        <div class="contact bar">
            <div class="pic stark" style="background-image: url(../../Plesirthemes/img/profile4.jpg)"></div>
            <div class="name">
                @ViewBag.username
            </div>
            @*<div class="seen">
                    Today at 12:56
                </div>*@

        </div>

    </div>
</nav>

<div class="chat chat-layout" id="div_chat" style="height: calc(100vh - 120px);overflow-x:hidden">



</div>


<div class="div-chat-footer">
    <div class="display-flex-row">
        <div class="display-flex-column" style="width:70%">
            <div class="input-group">
                <textarea class="form-control" id="txt_message" placeholder="type here..." aria-label="note"></textarea>
            </div>
        </div>

        <div class="display-flex-column fs-22" style="justify-content: center; align-items: center; width: 15%;">
            <i class="fas fa-camera upload-button"></i>
            <input class="file-upload" type="file" accept="image/*" style="display:none" multiple />
        </div>


        <div class="display-flex-column fs-22" style="justify-content: center; align-items: center; width: 15%;">
            <i class="fas fa-paper-plane" onclick="SendMessage()"></i>

        </div>



    </div>



    <div class="div_images row">


    </div>


</div>



@section scripts{


  

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="http://centurylinksmm-001-site7.dtempurl.com/signalr/hubs"></script>

    <script>
        var chathub = $.connection.chatHub;
        var connectionId;


        var fromuserid = '@ViewBag.fromuserid';
        var touserid = '@ViewBag.touserid';
        var operationid = '@ViewBag.operationid';
        $(function () {

            $('body').on('dragstart drop', function (e) {
                e.preventDefault();
                return false;
            });

            $.connection.hub.start().done(function () {
                connectionId = $.connection.hub.id;
                console.log(connectionId);
            });
            $.connection.hub.url = 'http://centurylinksmm-001-site7.dtempurl.com/signalr';

            $.connection.hub.start().done(function () {
                connectionId = $.connection.hub.id;
                alert(connectionId);
                console.log(connectionId);

            });

          //  transport: 'longPolling'


            var tryingToReconnect = false;
            var pageIsDisabled = false;
            $.connection.hub.reconnecting(function () {
            });
            $.connection.hub.reconnected(function () {
            });
            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000);

            });


            chathub.client.chatAdd = function () {
                getChatList();
            }



        //   $('.navbar').hide();
            $('.bottom-panel').hide();
            getChatList();


        })


        var index = 1;
        var imageArray = [];
        var photoRemove = [];
        var imagesstring = "";

        function removeimage(e) {




            var index = $(e).attr("index");
            photoRemove.splice(index, 1);
            $("#rmimage_" + index).remove();


            var wHeight = $(window).height() - (parseInt($('.div-chat-footer').height()) + 68);
            $('#div_chat').height(wHeight);

            var chat = document.getElementById('div_chat');
            if (chat) {
                chat.scrollTop = chat.scrollHeight - chat.clientHeight;
            }

        }


         function getChatList(){
              $.ajax({
                  cache: false,
                  url: '@Url.Action("_chatList", "Chat")',
                  type: "Get",
                  data: {
                      fromuserid: fromuserid,
                      touserid: touserid,
                      operationid: operationid
                  },
                    beforeSend: function () {
                       // $('.btn').prop("disabled", true);
                    },
                  success: function (myData) {
                      $('#div_chat').empty().append(myData);

                    },
                    complete: function () {
                        var wHeight = $(window).height() - (parseInt($('.div-chat-footer').height()) + 68);
                        $('#div_chat').height(wHeight);

                        var chat = document.getElementById('div_chat');
                        if (chat) {
                            chat.scrollTop = chat.scrollHeight - chat.clientHeight;
                        }



                        $('.file-upload').on('change', function () {
                            imagesPreview(this, 'div.multiplephotoupload');
                        });

                        $(".upload-button").on('click', function () {
                            $(".file-upload").click();
                        });

                       

                       

                    }
                });
        }


        var imagesPreview = function (input, placeToInsertImagePreview) {

            if (input.files) {

                var filesAmount = input.files.length;

                for (i = 0; i < filesAmount; i++) {
                    console.log(i);

                    multipleupload(input.files[i], index);
                    index++;


                }
            }

        };



        function multipleupload(input, index) {
            var reader = new FileReader();

            var img = document.createElement("img");

            reader.onload = function (e) {

                //    $(previewImage).attr('src', e.target.result);

                img.src = e.target.result;
                var mime_type = "image/jpeg";
                if (typeof output_format !== "undefined" && output_format == "png") {
                    mime_type = "image/png";
                }
                img.onload = function () {
                    var canvas = document.createElement("canvas");
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0);

                    var MAX_WIDTH = 800;
                    var MAX_HEIGHT = 600;
                    var width = img.width;
                    var height = img.height;

                    if (width > height) {
                        if (width > MAX_WIDTH) {
                            height *= MAX_WIDTH / width;
                            width = MAX_WIDTH;
                        }
                    } else {
                        if (height > MAX_HEIGHT) {
                            width *= MAX_HEIGHT / height;
                            height = MAX_HEIGHT;
                        }
                    }

                    canvas.width = width;
                    canvas.height = height;
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                    var dataurl = canvas.toDataURL(mime_type, 40 / 100);


                  //   $('.div_images').append('<div class="col-sm-3 col-xs-3 mr-10" id="rmimage_' + index + '" data-image="' + dataurl + '"><i class="fa fa-trash" onclick="removeimage(this)" index=' + index + '></i><img src="' + e.target.result + '" style="width:10%;height:70px" /></div>');


                    $('.div_images').append(`
                        <div class="col-3 mt-10" id="rmimage_${index}" data-image="${dataurl}">
                            <img src="${e.target.result}" style="width:70px;height:70px;border-radius:10px" />

                            <i class="fa fa-times-circle text-danger" onclick="removeimage(this)" index="${index}"></i>

                             </div>

                       `)

                    var wHeight = $(window).height() - (parseInt($('.div-chat-footer').height()) + 68);
                    $('#div_chat').height(wHeight);

                    var chat = document.getElementById('div_chat');
                    if (chat) {
                        chat.scrollTop = chat.scrollHeight - chat.clientHeight;
                    }

                    photoRemove.push(index);
                    index++;

                }


            }

            reader.readAsDataURL(input);


        }




        function SendMessage() {


            $('.div_images').find('div').each(function () {
                images = $(this).attr("data-image");
                imagesstring += images + "~";
                images = "";
            });

            imagesstring = imagesstring.slice(0, -1);


            var obj = {
                fromuserid: fromuserid,
                touserid: touserid,
                operationid: operationid,
                message: $('#txt_message').val(),
                file: imagesstring


            }



              $.ajax({
                  cache: false,
                  url: '@Url.Action("sendMessageAsync", "Chat")',
                  type: "Post",
                  data: {
                      obj: obj
                  },
                    beforeSend: function () {
                     //   $('.btn').prop("disabled", true);
                    },
                    success: function (myData) {

                        $('#div_chat').append(myData);
                        $('#txt_message').val('');
                        $('.div_images').empty();

                    },
                    complete: function () {
                        var wHeight = $(window).height() - (parseInt($('.div-chat-footer').height()) + 68);
                        $('#div_chat').height(wHeight);

                        var chat = document.getElementById('div_chat');
                        if (chat) {
                            chat.scrollTop = chat.scrollHeight - chat.clientHeight;
                        }


                      



                    }
                });
        }


        //function initLightGallery() {
        //    lightGallery(document.getElementById('lightgallery'), {

        //        thumbnail: true
        //    });

         


        //}

        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
      //  var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        function imageShow(src) {
            modal.style.display = "block";
            modalImg.src = src;
            
        }

       

        function closemodal() {
            modal.style.display = "none";
        }


        function toDataURL(url, callback) {
        
            var xhr = new XMLHttpRequest();
            xhr.onload = function () {
                var reader = new FileReader();
                reader.onloadend = function () {
                    callback(reader.result);
                    var a = document.createElement("a"); //Create <a>
                    a.href = reader.result; //Image Base64 Goes here
                    a.download = "Image.png"; //File name Here
                    a.click(); //Downloaded file
                }
                reader.readAsDataURL(xhr.response);
            };
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
            xhr.open('GET', url);
            xhr.responseType = 'blob';
            xhr.withCredentials = true;
            xhr.send();
        }

        function imagedownload() {
            var img = $('#img01').attr('src');

            toDataURL(img, function (dataUrl) {
                console.log('RESULT:', dataUrl)
            })



        }


    </script>


}