
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>


    .progress-meter {
        padding: 0;
    }

    ol.progress-meter {
        padding-bottom: 9.5px;
        list-style-type: none;
    }

        ol.progress-meter li {
            display: inline-block;
            text-align: center;
            text-indent: -19px;
            height: 44px;
            width: 23.99%;
            font-size: 12px;
            border-bottom-width: 6px;
            border-bottom-style: solid;
        }

            ol.progress-meter li:before {
                position: relative;
                float: left;
                text-indent: 0;
                left: -webkit-calc(45% - 9.5px);
                left: -moz-calc(45% - 9.5px);
                left: -ms-calc(45% - 9.5px);
                left: -o-calc(45% - 9.5px);
                left: calc(45% - 9.5px);
            }

            ol.progress-meter li.done {
                font-size: 12px;
            }

                /*ol.progress-meter li.done:before {
                        content: "\2713";
                        height: 34px;
                        width: 34px;
                        line-height: 21.85px;
                        bottom: -28.175px;
                        border: none;
                        padding-top: 5px;
                        font-size: 20px;
                        border-radius: 50%;
                        font-weight: bold;
                    }
    */
                ol.progress-meter li.done:before {
                    content: "\2713";
                    height: 24px;
                    width: 24px;
                    line-height: 13.85px;
                    bottom: -28.175px;
                    border: none;
                    padding-top: 5px;
                    font-size: 15px;
                    border-radius: 50%;
                    font-weight: bold;
                }

            /* ol.progress-meter li.todo:before {
                    content: "\2B24";
                    height: 24px;
                    width: 24px;
                    font-size: 15px;
                    bottom: -34.175px;
                    line-height: 18.05px;
                }*/

            ol.progress-meter li.todo:before {
                content: "\2713";
                height: 24px;
                width: 24px;
                line-height: 13.85px;
                bottom: -28.175px;
                border: none;
                padding-top: 5px;
                font-size: 15px;
                border-radius: 50%;
                font-weight: bold;
            }

            ol.progress-meter li.todo {
                font-size: 12px;
            }

            /* ol.progress-meter li.todo:before {
                        content: "\2B24";
                        font-size: 40px;
                        bottom: -34.175px;
                        line-height: 18.05px;
                    }
    */
            ol.progress-meter li.done {
                color: black;
                border-bottom-color: #13b490;
            }


            ol.progress-meter li.todo:before {
                content: "\2B24";
                font-size: 29px;
                bottom: -34.175px;
                line-height: 0px;
            }

            ol.progress-meter li.done:before {
                color: white;
                background-color: #13b490;
            }

            ol.progress-meter li.todo {
                color: silver;
                border-bottom-color: silver;
            }

                ol.progress-meter li.todo:before {
                    color: silver;
                }

            ol.progress-meter li.finish {
                color: black;
                border-bottom-color: #ff0000;
            }

    @@keyframes click-wave {
        0% {
            height: 40px;
            width: 40px;
            opacity: 0.35;
            position: relative;
        }

        100% {
            height: 200px;
            width: 200px;
            margin-left: -80px;
            margin-top: -80px;
            opacity: 0;
        }
    }

    .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        top: 13.33333px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 40px;
        transition: all 0.15s ease-out 0s;
        background: #cbd1d8;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
    }

        .option-input:hover {
            background: #9faab7;
        }

        .option-input:checked {
            /*background: #40e0d0;*/
            background: #2196F3;
        }

            .option-input:checked::before {
                height: 40px;
                width: 40px;
                position: absolute;
                content: "✔";
                display: inline-block;
                font-size: 26.66667px;
                text-align: center;
                line-height: 40px;
            }

            .option-input:checked::after {
                -webkit-animation: click-wave 0.65s;
                -moz-animation: click-wave 0.65s;
                animation: click-wave 0.65s;
                /*background: #40e0d0;*/
                background: #2196F3;
                content: "";
                display: block;
                position: relative;
                z-index: 100;
            }

        .option-input.radio {
            border-radius: 50%;
        }

            .option-input.radio::after {
                border-radius: 50%;
            }


    .font-icon-wrapper.font-icon-lg i {
        font-size: 20px !important
    }

    .font-icon-wrapper.font-icon-lg {
        float: right;
        padding: 5px !important;
        text-align: center;
        margin-right: 15px !important;
        min-width: 44px !important;
    }

    .bg-tempting-azure {
        background-image: linear-gradient(120deg, #13b490 0%, #13b490 100%) !important;
    }
    .ui-theme-settings{
        top:61px !important
    }


        .ui-theme-settings .theme-settings__inner{
            background:#f1f4f6!important


        }

</style>


<div class="ui-theme-settings">
    <button type="button" id="TooltipDemo" class="btn-open-options btn btn-success">
        <i class="fa fa-comment-dots fa-w-16 fa-spin fa-2x"></i>
    </button>

    <div class="theme-settings__inner">
        <div class="scrollbar-container">
            <div class="theme-settings__options-wrapper">
                <h3 class="themeoptions-heading">
                    <div>
                        Chat
                    </div>
                   
                </h3>
                <div class="p-3" id="div_userlist">
                 
                </div>
                
              
            </div>
        </div>
    </div>
</div>

 

    <div class="modal fade" id="myModalAppointment" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="Appointment">
                    <h1>test</h1>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="mb-3 card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Wash Option</label>
                            <select class="mb-2 form-control" id="dd_washtype">
                                <option value="">All</option>
                                <option value="In-House">In-House</option>
                                <option value="Walk-In">Walk-In</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Booking Status</label>
                            <select class="mb-2 form-control" id="dd_statustype">
                                <option value="Waiting">Waiting</option>
                                <option value="Confirmed">Confirmed</option>
                                <option value="Finished">Finished</option>
                                <option value="Cancel">Cancel</option>

                            </select>
                        </div>

                        <div class="col-md-5">
                            <label>Datefilter</label>
                            <input type="text" class="form-control" name="daterange" value="" autocomplete="off" />

                        </div>

                    </div>

                    <div class="row mt-15" style="margin-bottom:5px!important">

                        <div class="col-md-3">
                            <label>Booking Source</label>
                            <select class="mb-2 form-control" id="dd_bktype">
                                <option value="">All</option>
                                <option value="APP">APP</option>
                                <option value="IOS">IOS</option>
                                @*<option value="Portal">Portal</option>*@
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label>Search(Car No,Vehicle Brand,Vehicle Name)</label>
                            <input type="text" class="form-control" value="" id="txt_cardata" placeholder="keywords..." autocomplete="off" />

                        </div>
                        <div class="col-md-3">
                            <label>Search(Name,Phone)</label>
                            <input type="text" class="form-control" value="" id="txt_keywords" placeholder="keywords..." autocomplete="off" />

                        </div>


                        <div class="col-md-2">

                            <button class="mr-2 mt-20 btn-block btn btn-light mt-30" onclick="Search()">
                                <i class="fa fa-search mr-5"></i> Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="row">
        <div class="col-md-12" id="div_list">





        </div>
    </div>








    @section scripts{
        <script>

        var page = 1;
        var pagesize = 15;

        var searchvalue = null;
        var OrderBy = "Accesstime";
        var Direction = "DESC";
        var fromdate;
        var todate;
        var type = "Waiting";
        var washtype;
        var cardata;
        $(function () {


            LoadMainList();
            initPaging();
            initsComponent();




            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                page = 1;
                fromdate = start.format('YYYY-MM-DD');
                todate = end.format('YYYY-MM-DD');
                LoadMainList();
            });


        });
        function initsComponent() {


            $('#dd_statustype').on('change', function () {
                type = $('#dd_statustype').val();
                Search();
            });


            $('#dd_washtype').on('change', function () {
                washtype = $('#dd_washtype').val();
                Search();
            });



        }

        //// Get the input box
        //let input = document.getElementById('txt_keywords');

        //// Init a timeout variable to be used below
        //let timeout = null;

        //// Listen for keystroke events
        //input.addEventListener('keyup', function (e) {
        //    clearTimeout(timeout);
        //    // Make a new timeout set to go off in 1000ms (1 second)
        //    timeout = setTimeout(function () {
        //        Search();
        //    }, 1000);
        //});

        //// Get the input box
        //let input1 = document.getElementById('txt_cardata');
        //// Init a timeout variable to be used below
        //let timeout1 = null;
        //// Listen for keystroke events
        //input1.addEventListener('keyup', function (e) {
        //    clearTimeout(timeout1);
        //    // Make a new timeout set to go off in 1000ms (1 second)
        //    timeout1 = setTimeout(function () {
        //        Search();
        //    }, 1000);
        //});


        function initPaging() {
            $("#div_list").on("click", ".pagedList a", function (e) {
                e.preventDefault();
                var $a = $(this).attr("href");
                try {
                    var pageurl = $a.split(/=/);
                    page = pageurl[1];
                    if (page == null) {
                        page = 1;
                    }
                }
                catch (e) {
                    page = 1;
                }
                ItemList();
            });
        }
        function Search(value) {
            page = 1;
            searchvalue = $('#txt_keywords').val();
            cardata = $('#txt_cardata').val();
            LoadMainList();

        }
        function LoadMainList() {
            callloading('div_list');
            $.ajax({
                cache: false,
                url: '@Url.Action("_list", "Admin_Operation")',
                data :{
                    page: page, pagesize: pagesize, searchvalue: searchvalue,
                    OrderBy: OrderBy, Direction: Direction,
                    fromdate: fromdate, todate: todate, type: type,
                    washtype: washtype, cardata: cardata
                },
                beforeSend: function () {

                },
                success: function (result) {
                    $('#div_list').empty().append(result);

                },

                complete: function () {


                }
            });
            }


            function getUserList() {
                $('#div_userlist').empty().append('<div class="text-center"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>')
               $.ajax({
                cache: false,
                url: '@Url.Action("_getuserlist", "Admin_Operation")',
                data: {
                    fromdate: fromdate, todate: todate, searchvalue: searchvalue,
                    cardata: cardata,type: type
                },
                beforeSend: function () {

                },
                success: function (result) {
                    $('#div_userlist').empty().append(result);

                },

                complete: function () {


                }
            });
              

        }

        function deleteEntity(e) {
            Swal.fire({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this item!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonColor: '#8CD4F5',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Confirm it!'
              })
                .then((result) => {

                        if (result.value == true) {
                            var ID = $(e).data('id');
                            var infoid = $(e).data('infoid');
                            $.ajax({
                                cache: false,
                                url: '@Url.Action("Delete", "Admin_Operation")',

                                data: { ID: ID },
                                beforeSend: function () {

                                },
                                success: function (result) {
                                    if (result == "Success") {
                                        $('#' + infoid).remove();
                                        $('#MyModal').modal('hide');

                                        Swal.fire(
                                            'Delete!',
                                            'Successfully Deleted!',
                                            'error'
                                        )
                                    }
                                    else {

                                    }
                                },
                                complete: function () {



                                }
                            });
                        }




                });

        }


        function gotochat(e) {
            var userid = $(e).attr('data-userid');
            var username = $(e).attr('data-username');
            var operationid = $(e).attr('data-operationid');
            window.open('../chat/admin?userid=' + userid + '&username=' + username + '&operationid=' + operationid + '&type=admin');
        }




        function newstatusChange(e) {
            var id = $(e).attr('data-id');
            var statuschange = $(e).attr('data-status');
            var statustype;
            if (statuschange == "Waiting") {
                statustype = "confirmed"
            } else if (statuschange == "Confirmed") {
                statustype = "finished"
            }

              Swal.fire({
                title: "Are you sure?",
                  text: "Do you want to " + statustype + " this booking?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonColor: '#8CD4F5',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Confirm it!'
              })
                .then((result) => {

                    if (result.value == true) {
                            $.ajax({
                            cache: false,
                            url: '@Url.Action("newstatuschange", "Admin_Operation")',
                            data: { id: id, status: statuschange },
                            beforeSend: function () {
                                $('.btn').prop("disabled", true);
                            },
                             success: function (result) {

                                 $('#div_booking_' + id).remove();
                                 getWaitingNotiCount();
                                 $('#txt_totalcount').text(parseInt($('#txt_totalcount').text()) - 1);
                                //if (result.Status == "Waiting") {
                                //    $('#ol_status_' + result.Id).empty().append(
                                //        `<li class="progress-point done">Waiting</li><li class="progress-point todo" data-status="Waiting" data-id="${result.Id}" onclick="newstatusChange(this)">Confirmed</li><li class="progress-point todo">Finished</li>`
                                //    )
                                //} else if (result.Status == "Confirmed") {
                                //    $('#ol_status_' + result.Id).empty().append(
                                //        `<li class="progress-point done">Waiting</li><li class="progress-point done">Confirmed</li><li class="progress-point todo" data-status="Confirmed" data-id="${result.Id}" onclick="newstatusChange(this)">Finished</li>`
                                //    )
                                //} else if (result.Status == "Finished") {
                                //    $('#ol_status_' + result.Id).empty().append(
                                //        `<li class="progress-point done">Waiting</li><li class="progress-point done">Confirmed</li><li class="progress-point done">Finished</li>`
                                //    )
                                //}


                            },
                            complete: function () {
                                $('.btn').prop("disabled", false);

                            }
                        });

                    }




                });



        }



         function statusCancel(e) {
             var id = $(e).attr('data-operationid');
           // var statuschange = $(e).attr('data-status');
              Swal.fire({
                title: "Are you sure you want to cancel?",
                text: "Once Cancel, you will not be able to recover this actions!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                confirmButtonColor: '#8CD4F5',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Confirm it!'
              })
                .then((result) => {

                    if (result.value == true) {
                            $.ajax({
                            cache: false,
                            url: '@Url.Action("statusCancel", "Admin_Operation")',
                            data: { id: id },
                            beforeSend: function () {
                                $('.btn').prop("disabled", true);
                            },
                             success: function (result) {

                                 $('#div_booking_' + id).remove();
                                 getWaitingNotiCount();
                                //if (result.Status == "Waiting") {
                                //    $('#ol_status_' + result.Id).empty().append(
                                //        `<li class="progress-point done">Waiting</li><li class="progress-point todo" data-status="Waiting" data-id="${result.Id}" onclick="newstatusChange(this)">Confirmed</li><li class="progress-point todo">Finished</li>`
                                //    )
                                //} else if (result.Status == "Confirmed") {
                                //    $('#ol_status_' + result.Id).empty().append(
                                //        `<li class="progress-point done">Waiting</li><li class="progress-point done">Confirmed</li><li class="progress-point todo" data-status="Confirmed" data-id="${result.Id}" onclick="newstatusChange(this)">Finished</li>`
                                //    )
                                //} else if (result.Status == "Finished") {
                                //    $('#ol_status_' + result.Id).empty().append(
                                //        `<li class="progress-point done">Waiting</li><li class="progress-point done">Confirmed</li><li class="progress-point done">Finished</li>`
                                //    )
                                //}


                            },
                            complete: function () {
                                $('.btn').prop("disabled", false);

                            }
                        });

                    }




                });



        }




        </script>



    }
