@model Infra.ViewModels.AdminViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>
                Change Your Password
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form class="">
                    @Html.HiddenFor(x => x.Id)
                    <input type="hidden" id="hdCurrentPassword" value="@Model.Password" />
                    @Html.HiddenFor(x => x.CreateUserId)
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">User Name</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @type = "UserName", @placeholder = "", @autofocus = "true", @autocomplete = "off" })
                            <div id="UserName-error" class="invalid-feedback" style="display:none;">
                                Enter User Name.
                            </div>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Current Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="txtCurrentPassword" />
                            <div id="txtCurrentPassword-error" class="invalid-feedback" style="display:none;">Enter Current Password.</div>
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">New Password</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "Password", @placeholder = "", @autofocus = "true", @autocomplete = "off" })
                            <div id="Password-error" class="invalid-feedback" style="display:none;">
                                Enter Password
                            </div>
                            <div id="NotCorrect-error" class="invalid-feedback" style="display:none;">Password do not match.</div>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">Confirm Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="txtConfirmPassword" />
                            <div id="txtConfirmPassword-error" class="invalid-feedback" style="display:none;">Confirm your Password.</div>
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <a href="javascript:void(0)" class="btn btn-focus btn-lg" id="btnSave"><i class="fa fa-save"></i> Update</a>
                            <a href="javascript:void(0)" class="btn btn-light btn-lg" id="btnCancel"><i class="fa fa-ban"></i> Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@Scripts.Render("~/bundles/user-changepassword")
<script type="text/javascript">
    $(function () {
        $('#liDashboard').addClass('mm-active');
    });
    var saveUrl = '@Url.Action("ChangePassword", "AdminUser")';
</script>

