
@model IQueryable<Infra.ViewModels.VehicleCategoryViewModel>


@if (Model.Count() > 0)
{
 
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">@Model.Count() car(s) found.</h5>
                <div class="table-responsive">
                    <table class="mb-0 table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Vehicle</th>
                                <th>Category</th>
                                <th>Color</th>
                                <th>Car No.</th>
                                <th class="text-right">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                               
                                int count = 0;
                              
                            }
                            @foreach (var result in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@result.vehicle.VehicleBrand @result.vehicle.VehicleName</td>
                                    <td>@result.category.Name</td>
                                    <td>@result.vehicle.VehicleColor</td>
                                    <td>@result.vehicle.VehicleColor</td>
                                    <td class="text-right">
                                        <a class="btn btn-warning" onclick="Edit('@result.vehicle.Id')">
                                            <i class="fas fa-edit text-white"></i>
                                        </a>&nbsp;&nbsp;
                                        <a class="btn btn-danger" onclick="Delete('@result.vehicle.Id')">
                                            <i class="fas fa-trash text-white"></i>
                                        </a>
                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>
                </div>

            
            </div>
        </div>
   
}



