
@model Infra.ViewModels.PagedListClient<Infra.Models.tbCustomer>
@using PagedList;
@using PagedList.Mvc;

@if (Model.Results.Count() > 0)
{
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">@Model.TotalCount records found.</h5>
            <div class="table-responsive">
                <table class="mb-0 table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <th class="text-right">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int pagesize = ViewBag.pagesize;
                            int pagestartno = ViewBag.page;
                            int count = 0;
                            count = (pagestartno - 1) * pagesize;
                        }
                        @foreach (var result in Model.Results)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@result.FullName</td>
                                <td>@result.UserName</td>
                                <td>@result.Email</td>
                                <td>@result.PhoneNo</td>
                                <td class="text-right">

                                    @*@if (result.IsMember == true)
                                    {
                                        <a class="btn btn-success" id="member_@result.Id" onclick="IsMember('@result.Id')">
                                            <i class="fas fa-user text-white"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger" id="member_@result.Id" onclick="IsMember('@result.Id')">
                                            <i class="fas fa-user text-white"></i>
                                        </a>
                                    }*@


                                    @*<a class="btn btn-success" id="member_@result.Id" href="../Admin_Customer/OperationList?customerid=@result.Id">
                                        <i class="fas fa-list text-white"></i>
                                    </a>*@


                                    @*@if (result.IsPrepaid == true)
                                    {
                                        <a class="btn btn-success" id="prepaid_member_@result.Id" onclick="AddPrepaidCode('@result.Id')">
                                            <i class="fas fa-money-bill text-white"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger" id="prepaid_member_@result.Id" onclick="AddPrepaidCode('@result.Id')">
                                            <i class="fas fa-money-bill text-white"></i>
                                        </a>
                                    }*@




                                    @*<a class="btn btn-primary" onclick="AddCar('@result.Id')">
                                        <i class="fas fa-car text-white"></i>
                                    </a>&nbsp;&nbsp;
                                    <a class="btn btn-warning" onclick="Edit('@result.Id')">
                                        <i class="fas fa-edit text-white"></i>
                                    </a>&nbsp;&nbsp;
                                    <a class="btn btn-danger" onclick="Delete('@result.Id')">
                                        <i class="fas fa-trash text-white"></i>
                                    </a>*@
                                    @*<div id="div_prepaidcode_@result.Id" style="display:none">
                                        <div class="d-flex mt-10 justify-content-end">
                                            <div>
                                                <input class="form-control" placeholder="Prepaid Amount" value="@result.PrepaidLeftAmount" type="text" id="txt_prepaid_@result.Id" />
                                            </div>
                                            <div class="ml-10">
                                                <button class="btn btn-primary btn-round" onclick="PrepaidCodeProcess()">Add</button>
                                            </div>
                                        </div>


                                    </div>*@

                                    <div class="d-inline-block dropdown">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                           
                                            Actions
                                        </button>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                            <ul class="nav flex-column">
                                                @*@if (result.IsMember == true)
                                                {
                                                    <li class="nav-item">
                                                        <a onclick="IsMember('@result.Id')" class="nav-link">
                                                          
                                                            <span>
                                                                Demote Member
                                                            </span>
                                                            <i class="fa fa-star ml-15" style="color:gold"></i>
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item">
                                                        <a onclick="IsMember('@result.Id')" class="nav-link">
                                                          
                                                            <span>
                                                                Promote Member
                                                            </span>
                                                         
                                                        </a>
                                                    </li>
                                                }*@

                                                <li class="nav-item">
                                                    <a onclick="Edit('@result.Id')" class="nav-link">
                                                       
                                                        <span>
                                                            Edit Customer
                                                        </span>

                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a onclick="Delete(this)" data-id="@result.Id" class="nav-link">
                                                      
                                                        <span>
                                                            Delete Customer
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a onclick="AddCar('@result.Id')" class="nav-link">
                                                      
                                                        <span>
                                                            Add Car
                                                        </span>

                                                    </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="../Admin_Customer/OperationList?customerid=@result.Id" class="nav-link">
                                                       
                                                        <span>
                                                            Bookings
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                        }


                    </tbody>
                </table>
            </div>

            <div class="col-12 mt-30">
                <div class="paginator-wrap pagedList">

                    @Html.PagedListPager(Model.Results, page => Url.Action("_list", "Admin_Customer",
               new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_nodatafound")

}



