
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

<style>

    .vacation-destination .carousel-dailyhot .item .vs-box .vsb-top .vsbt-img {
        width:150px !important;
        height: 150px !important;
    }

    .vacation-destination .carousel-dailyhot .vs-carousel .item {
        width: 150px!important
    }


    .vacation-destination .carousel-dailyhot .item .vs-box .vsb-top .vsbt-img img {
        width: 100px !important;
        height: 150px !important;
    }

    .advertisement .slick-dots {
        padding-right: 60px !important
    }


    .advertisement .slick-slide img {
        
         margin:0!important;
         padding:0!important
        
    }

    .vsb-cartype {
        color: #fff;
        display: inline-block;
        position:absolute;
        top:10px;
        left:0;
        padding: 3px 8px;
        background-color: #00c9a7;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .vsb-categorytype {
        color: #fff;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 0;
        padding: 3px 8px;
        background-color: #00c9a7;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .vsb-carprice {
        color: #fff;
        display: inline-block;
        position: absolute;
        top: 45px;
        left: 0;
        padding: 3px 8px;
        background-color: #00c9a7;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

</style>

<!-- Content Wrap  -->
<div class="content-wrap">
    <!-- slider -->
    <div class="img-hero">
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco1.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco2.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco3.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco4.jpg" alt="slider">
        </div>

    </div>
    <!-- .slider -->
    <!-- section 1 -->
    <div class="home-icon">
        <div class="section-home">
            <div class="container">
                <div class="row">
                    <div class="col s-icon">
                        <a href="#" onclick="book('@ViewBag.customerid')" class="homepage-icon-menu">
                            <img src="~/Plesirthemes/EcoPhoto/bookcar.jpg" alt="icon" style="width: 35px; margin-bottom: 5px;">
                            <div class="s-icon-text">
                                Book a car
                            </div>
                        </a>
                    </div>
                    <div class="col s-icon">
                        <a href="#" class="homepage-icon-menu" onclick="branch()">
                            <img src="~/Plesirthemes/img/hotel.png" alt="icon">
                            <div class="s-icon-text">
                                Our branches
                            </div>
                        </a>
                    </div>
                    <div class="col s-icon">
                        <a href="#" onclick="caradd('@ViewBag.customerid')" class="homepage-icon-menu">
                            <img src="~/Plesirthemes/img/cab.png" alt="icon">
                            <div class="s-icon-text">
                                Add a car
                            </div>
                        </a>
                    </div>


                </div>
                @*<div class="row">
                        <div class="col s-icon">
                            <a href="#" class="homepage-icon-menu">
                                <img src="~/Plesirthemes/img/temple.png" alt="icon">
                                <div class="s-icon-text">
                                    CITY GUIDE
                                </div>
                            </a>
                        </div>
                        <div class="col s-icon">
                            <a href="#" class="homepage-icon-menu">
                                <img src="~/Plesirthemes/img/hospital.png" alt="icon">
                                <div class="s-icon-text">
                                    HOSPITAL
                                </div>
                            </a>
                        </div>
                        <div class="col s-icon">
                            <a href="#" class="homepage-icon-menu">
                                <img src="~/Plesirthemes/img/cultures.png" alt="icon">
                                <div class="s-icon-text">
                                    EVENT
                                </div>
                            </a>
                        </div>
                        <div class="col s-icon">
                            <a href="#" class="homepage-icon-menu">
                                <img src="~/Plesirthemes/img/gps.png" alt="icon">
                                <div class="s-icon-text">
                                    INTERCITY
                                </div>
                            </a>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- .section 1 -->
    <!-- section 3 -->
    <div class="heading-section">
        <div class="sa-title popcat">Daily Hot </div>
        <div class="heading-info">
            Let's see our daily hot
        </div>
        <div class="clear"></div>
    </div>
    <div class="section-home vacation-destination">
        <div class="carousel-dailyhot vs-carousel">
            <!-- item -->
            <div class="item">
                <div class="vs-box">
                    <div class="vsb-top">
                        @*<div class="vsb-rating">
                                4.8 <i class="fas fa-star"></i>
                            </div>*@
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/img/destination1.jpg" alt="img">
                        </div>
                    </div>
                   
                </div>
            </div>
            <!-- .item -->
            <!-- item -->
            <div class="item">
                <div class="vs-box">
                    <div class="vsb-top">
                        @*<div class="vsb-rating">
                                4.5 <i class="fas fa-star"></i>
                            </div>*@
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/img/destination2.jpg" alt="img">
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- .item -->
            <!-- item -->
            <div class="item">
                <div class="vs-box">
                    <div class="vsb-top">
                        @*<div class="vsb-rating">
                                4.5 <i class="fas fa-star"></i>
                            </div>*@
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/img/destination3.jpg" alt="img">
                        </div>
                    </div>
                    <div class="vsb-middle">
                        <div class="vsbm-left">
                            ကားကြီး
                        </div>
                        <div class="vsbm-right">
                            6000 MMK
                        </div>
                    </div>
                </div>
            </div>
            <!-- .item -->

        </div>
    </div>
    <!-- .section 3 -->
    <!-- section 2 -->

    <div id="div_memberpackages">

    </div>


    <!-- .section 2-->

    <div class="ads-holder text-center section-home home-news">
        <a href="#">
            <img src="~/Plesirthemes/EcoPhoto/ads-holder1.jpg">
        </a>
    </div>

    <!-- section 3 -->
    <div class="heading-section">
        <div class="sa-title popcat">Our Services </div>
        <div class="heading-info">
            Let's see our services
        </div>
        <div class="clear"></div>
    </div>
    <div class="section-home vacation-destination">
        <div class="default-carousel vs-carousel">
            <!-- item -->
            <div class="item">
                <div class="vs-box">
                    <div class="vsb-top">
                        @*<div class="vsb-rating">
                                4.8 <i class="fas fa-star"></i>
                            </div>*@
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/img/destination1.jpg" alt="img">
                        </div>
                    </div>
                    <div class="vsb-middle">
                        <div class="vsbm-left">
                            ကားသေး
                        </div>
                        <div class="vsbm-right">
                            4000 MMK
                        </div>
                    </div>
                </div>
            </div>
            <!-- .item -->
            <!-- item -->
            <div class="item">
                <div class="vs-box">
                    <div class="vsb-top">
                        @*<div class="vsb-rating">
                                4.5 <i class="fas fa-star"></i>
                            </div>*@
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/img/destination2.jpg" alt="img">
                        </div>
                    </div>
                    <div class="vsb-middle">
                        <div class="vsbm-left">
                            ကားလတ်
                        </div>
                        <div class="vsbm-right">
                            5000 MMK
                        </div>
                    </div>
                </div>
            </div>
            <!-- .item -->
            <!-- item -->
            <div class="item">
                <div class="vs-box">
                    <div class="vsb-top">
                        @*<div class="vsb-rating">
                                4.5 <i class="fas fa-star"></i>
                            </div>*@
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/img/destination3.jpg" alt="img">
                        </div>
                    </div>
                    <div class="vsb-middle">
                        <div class="vsbm-left">
                            ကားကြီး
                        </div>
                        <div class="vsbm-right">
                            6000 MMK
                        </div>
                    </div>
                </div>
            </div>
            <!-- .item -->

        </div>
    </div>
    <!-- .section 3 -->
    <!-- section 4 -->
    <div class="heading-section">
        <div class="sa-title popcat">Branch </div>
        <div class="heading-info">
            Let's see our branches
        </div>
        <div class="clear"></div>
    </div>
    <div class="section-home home-news">

        <div class="home-news-wrap" id="div_branch">

        </div>
    </div>


    <div style="background:#f4f4f4;height:10px">

    </div>

    <div class="heading-section">

        <div class="sa-title popcat">Advertisement </div>

        <div class="clear"></div>
    </div>

    <div class="advertisement p-30 pt-10 pb-10">
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco1.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco2.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco3.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco4.jpg" alt="slider">
        </div>

    </div>

    <!-- .section 4 -->



</div>





@section scripts{
    <script>

        var customerid = '@ViewBag.customerid'

        $(function () {
            GetBranchList();
            GetMemberPackages();
            $('.carousel-dailyhot').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 2,
                centerMode: false,
                arrows: false,
                variableWidth: true
            });


        })


        function GetBranchList()
        {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetBranchList", "Home")',
                beforeSend: function () {

                },
                success: function (result) {
                    $('#div_branch').empty().append((result));
                },
                complete: function () {

                }
            });

         }


        function GetMemberPackages()
        {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetMemberPackages", "Home")',
                beforeSend: function () {

                },
                success: function (result) {
                    $('#div_memberpackages').empty().append((result));
                },
                complete: function () {
                    $('.default-carousel').slick({
                        dots: false,
                        infinite: true,
                        speed: 300,
                        slidesToShow: 1,
                        centerMode: false,
                        arrows: false,
                        variableWidth: true
                    });
                }
            });

         }


        function book() {
            $('.preloading').show();
            window.location.replace('../book?customerid=@ViewBag.customerid');
        }

        function branch() {
            $('.preloading').show();
            window.location.replace('../branch');
        }

        function caradd() {
            $('.preloading').show();
            window.location.replace('../car/add?ID=0&type=Add&customerid=@ViewBag.customerid');
        }

        function SeeMore(Id) {
            $('.preloading').show();
            window.location.replace('../Branch');
        }


    </script>



} 