
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}

<style>

  
    .advertisement .slick-dots {
        padding-right: 60px !important
    }


    .advertisement .slick-slide img {
        
         margin:0!important;
         padding:0!important
        
    }

    .vsb-cartype {
        color: #fff;
        display: inline-block;
        position:absolute;
        top:10px;
        left:0;
        padding: 3px 8px;
        background-color: #00c9a7;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .vsb-categorytype {
        color: #fff;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 0;
        padding: 3px 8px;
        background-color: #00c9a7;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .vsb-carprice {
        color: #fff;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 76px;
        padding: 3px 8px;
        background-color: #00c9a7;
        border-radius: 10px;
      
    }
    .br-package-image {
        webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0 !important;
        border-top-right-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
    }


    .d-title {
        color: #00c9a7;
        font-size: 14px
    }

    .owl-item > div {
        cursor: pointer;
        margin: 6% 8%;
        transition: margin 0.4s ease;
    }

    .owl-item.center > div {
        cursor: auto;
        margin: 0;
    }

    .owl-item:not(.center) > div:hover {
        opacity: .75;
    }



    .vsb-rating {
        color: #df9403;
        color: #fff;
        position: absolute;
        padding: 5px 8px;
        background-color: #d71f3b;
        top: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }



    .car-categorytype{
        font-size:12px!important;
        font-weight:normal!important
    }




    .no-transition {
        -webkit-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }

    .stackedcards-overflow {
        overflow-y: hidden !important;
    }

    .stackedcards.init {
        opacity: 0; /* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
    }

    .stackedcards {
        position: relative;
    }

        .stackedcards * {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

    .stackedcards--animatable {
        -webkit-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
    }

    .stackedcards .stackedcards-container > *,
    .stackedcards-overlay {
        position: absolute;
        width: 100%; /* set 100% */
        height: 100%; /* set 100% */
        will-change: transform, opacity;
        top: 0;
        border-radius: 10px;
    }

        .stackedcards-overlay.left > div,
        .stackedcards-overlay.right > div,
        .stackedcards-overlay.top > div {
            width: 100%;
            height: 300px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .stackedcards-overlay.left,
        .stackedcards-overlay.right,
        .stackedcards-overlay.top {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            left: 0;
            opacity: 0;
            top: 0;
            height: 100%;
            font-size: 24px; /* this style was added only for better preview */
            text-transform: uppercase; /* this style was added only for better preview */
            font-weight: 500; /* this style was added only for better preview */
            color: #fff; /* this style was added only for better preview */
        }

        .stackedcards-overlay.top {
            background: #E38568;
        }

        .stackedcards-overlay.right {
            background: #7BB3C5;
        }

        .stackedcards-overlay.left {
            background: #E58D93;
        }

            .stackedcards-overlay.left:empty,
            .stackedcards-overlay.right:empty,
            .stackedcards-overlay.top:empty {
                display: none !important;
            }

    .stackedcards-overlay-hidden {
        display: none;
    }

    .stackedcards-origin-bottom {
        -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
    }

    .stackedcards-origin-top {
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    }

    .stackedcards-bottom,
    .stackedcards-top,
    .stackedcards-none {
        background: #fff; /* set card background background */
        height: 100%;
    }

    .stackedcards .stackedcards-container > :nth-child(1) {
        position: relative;
        display: block;
    }

    /* global actions buttons*/
    .global-actions {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 100%;
        margin-top: 10px;
    }

    .top-action,
    .right-action,
    .left-action {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 500;
        color: #fff;
    }

    .top-action {
        background: #E38568;
        margin: 0 10px;
    }

    .right-action {
        background: #7BB3C5;
    }

    .left-action {
        background: #E58D93;
    }

    /* elements on stacked cards */
    .card-item {
        background: #fff;
    }


     .vsb-middle {
        padding: 5px 0px;
        font-weight: 600;
        font-size: 13px;
    }

     .vsb-middle .vsbm-left {
            color: #00c9a7;
            display: inline-block;
        }

       .vsb-middle .vsbm-right {
            display: inline-block;
            color: #df9403;
            float: right;
        }

    .dailyhot {
        padding: 20px;
        object-fit: cover;
        width: 100%;
        height: 300px;
        border-radius: 30px;
    }


    #div_dailyhot .news-card {
        border: 0px solid aqua;
        margin: 15px;
        position: relative;
        height: auto;
        overflow: hidden;
        border-radius: 0.5rem;
        flex: 1;
        min-width: 290px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 );
        /* IE6-9 */
    }

    @@media (min-width: 900px) {

        #div_dailyhot .news-card {
            height: 20rem
        }
    }

    #div_dailyhot .news-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
        z-index: 0;
    }

    #div_dailyhot .news-card__card-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        /*     background: rgba(255,0,0,.5); */
    }

    #div_dailyhot .news-card__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        transition: transform 3s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        z-index: -1;
    }

    #div_dailyhot .news-card__text-wrapper {
        position: absolute;
        bottom: 0rem;
        padding: 1rem;
        color: white;
        /*     background-color: rgba(0, 0, 0, 0.4); */
        transition: background-color 1.5s ease;
    }

    #div_dailyhot .news-card__title {
        transition: color 1s ease;
        margin-bottom: .5rem;
        font-size: 16px !important
    }

    #div_dailyhot .news-card__post-date {
        font-size: 12px;
        margin-bottom: .5rem;
        color: #fff;
        background: rgba(0,0,0,.5);
        padding: 0 8px;
        display: inline-block;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    #div_dailyhot .news-card__details-wrapper {
        max-height: 0;
        opacity: 0;
        transition: max-height 1.5s ease, opacity 1s ease;
    }

    @@media (min-width: 900px) {
        #div_dailyhot .news-card:hover .news-card__details-wrapper {
            max-height: 20rem;
            opacity: 1;
        }

        #div_dailyhot .news-card:hover .news-card__text-wrapper {
            background-color: rgba(0, 0, 0, 0.6);
        }

        #div_dailyhot .news-card:hover .news-card__title {
            color: yellow;
        }

        #div_dailyhot .news-card:hover .news-card__image {
            transform: scale(1.2);
            z-index: -1;
        }
    }

    #div_dailyhot .news-card__excerpt {
        font-weight: 300;
    }

    #div_dailyhot .news-card__read-more {
        background: black;
        color: #bbb;
        display: block;
        padding: 0.4rem 0.6rem;
        border-radius: 0.3rem;
        margin-top: 1rem;
        border: 1px solid #444;
        font-size: 0.8rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-decoration: none;
        width: 7rem;
        margin-left: auto;
        position: relative;
        z-index: 5;
    }

        #div_dailyhot .news-card__read-more i {
            position: relative;
            left: 0.2rem;
            color: #888;
            transition: left 0.5s ease, color 0.6s ease;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        #div_dailyhot .news-card__read-more:hover i {
            left: 0.5rem;
            color: yellow;
        }


    
</style>

<!-- Content Wrap  -->
<div class="content-wrap">
    <!-- slider -->
    <div class="img-hero">
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco1.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco2.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco3.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco4.jpg" alt="slider">
        </div>

    </div>
    <!-- .slider -->
    <!-- section 1 -->
    <div class="home-icon">
        <div class="section-home">
            <div class="container">
                <div class="row">
                    <div class="col s-icon">
                        <a href="#" onclick="book('@ViewBag.customerid')" class="homepage-icon-menu">
                            <img src="~/Plesirthemes/EcoPhoto/bookcar.jpg" alt="icon" style="width: 35px; margin-bottom: 5px;">
                            <div class="s-icon-text">
                                Book a car
                            </div>
                        </a>
                    </div>
                    <div class="col s-icon">
                        <a href="#" class="homepage-icon-menu" onclick="branch()">
                            <img src="~/Plesirthemes/img/hotel.png" alt="icon">
                            <div class="s-icon-text">
                                Our branches
                            </div>
                        </a>
                    </div>
                    <div class="col s-icon">
                        <a href="#" onclick="caradd('@ViewBag.customerid')" class="homepage-icon-menu">
                            <img src="~/Plesirthemes/img/cab.png" alt="icon">
                            <div class="s-icon-text">
                                Add a car
                            </div>
                        </a>
                    </div>


                </div>
                @*<div class="row">
                        <div class="col s-icon">
                            <a href="#" class="homepage-icon-menu">
                                <img src="~/Plesirthemes/img/temple.png" alt="icon">
                                <div class="s-icon-text">
                                    CITY GUIDE
                                </div>
                            </a>
                        </div>
                        <div class="col s-icon">
                            <a href="#" class="homepage-icon-menu">
                                <img src="~/Plesirthemes/img/hospital.png" alt="icon">
                                <div class="s-icon-text">
                                    HOSPITAL
                                </div>
                            </a>
                        </div>
                        <div class="col s-icon">
                            <a href="#" class="homepage-icon-menu">
                                <img src="~/Plesirthemes/img/cultures.png" alt="icon">
                                <div class="s-icon-text">
                                    EVENT
                                </div>
                            </a>
                        </div>
                        <div class="col s-icon">
                            <a href="#" class="homepage-icon-menu">
                                <img src="~/Plesirthemes/img/gps.png" alt="icon">
                                <div class="s-icon-text">
                                    INTERCITY
                                </div>
                            </a>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- .section 1 -->
    <!-- section 3 -->


  
    @*<div>
        <img src="~/Plesirthemes/EcoPhoto/dailyhot.jpg" class="dailyhot" />
        <div class="dailyhotwrapper width-100">
            <div class="display-flex-row">
                <div class="display-flex-column">
                    <h6>Daily Hot Title</h6>
                </div>
                <div class="display-flex-column ml-auto fs-22 flex-end">
                    <i class="fas fa-chevron-circle-right"></i> 
                </div>
            </div>


           
        </div>


    </div>*@

    


<div id="div_dailyhot">
 

</div>




    <!-- .section 3 -->
    <!-- section 2 -->

    <div id="div_memberpackages">

    </div>


    <!-- .section 2-->

    <div class="ads-holder text-center section-home home-news">
        <a href="#">
            <img src="~/Plesirthemes/EcoPhoto/ads-holder1.jpg">
        </a>
    </div>

    <!-- section 3 -->
    <div class="heading-section">
        <div class="sa-title popcat">Our Services </div>
        <div class="heading-info">
            Let's see our services
        </div>
        <div class="clear"></div>
    </div>
    <div class="section-home vacation-destination">
        <div class="default-carousel vs-carousel">
            <!-- item -->
            <div class="item">
                <div class="vs-box" onclick="Services('small')">
                    <div class="vsb-top">
                        @*<div class="vsb-rating">
                                4.8 <i class="fas fa-star"></i>
                            </div>*@
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/EcoPhoto/small.jpg" class="objectfit-cover" alt="img">
                        </div>
                    </div>
                    <div class="vsb-middle">
                        <div class="vsbm-left">
                            ကားသေး
                        </div>
                        <div class="vsbm-right">
                            4000 MMK
                        </div>
                    </div>
                </div>
            </div>
            <!-- .item -->
            <!-- item -->
            <div class="item">
                <div class="vs-box" onclick="Services('medium')">
                    <div class="vsb-top">
                        @*<div class="vsb-rating">
                                4.5 <i class="fas fa-star"></i>
                            </div>*@
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/EcoPhoto/medium.jpg" class="objectfit-cover" alt="img">
                        </div>
                    </div>
                    <div class="vsb-middle">
                        <div class="vsbm-left">
                            ကားလတ်
                        </div>
                        <div class="vsbm-right">
                            5000 MMK
                        </div>
                    </div>
                </div>
            </div>
            <!-- .item -->
            <!-- item -->
            <div class="item">
                <div class="vs-box" onclick="Services('big')">
                    <div class="vsb-top">
                        @*<div class="vsb-rating">
                                4.5 <i class="fas fa-star"></i>
                            </div>*@
                        <div class="vsbt-img">
                            <img src="~/Plesirthemes/EcoPhoto/big.jpg" class="objectfit-cover" alt="img">
                        </div>
                    </div>
                    <div class="vsb-middle">
                        <div class="vsbm-left">
                            ကားကြီး
                        </div>
                        <div class="vsbm-right">
                            6000 MMK
                        </div>
                    </div>
                </div>
            </div>
            <!-- .item -->

        </div>
    </div>
    <!-- .section 3 -->
    <!-- section 4 -->
    <div class="heading-section">
        <div class="sa-title popcat">Branch </div>
        <div class="heading-info">
            Let's see our branches
        </div>
        <div class="clear"></div>
    </div>
    <div class="section-home home-news">

        <div class="home-news-wrap" id="div_branch">

        </div>
    </div>


    <div style="background:#f4f4f4;height:10px">

    </div>

    <div class="heading-section">

        <div class="sa-title popcat">Advertisement </div>

        <div class="clear"></div>
    </div>

    <div class="advertisement p-30 pt-10 pb-10">
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco1.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco2.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco3.jpg" alt="slider">
        </div>
        <div>
            <img src="~/Plesirthemes/EcoPhoto/eco4.jpg" alt="slider">
        </div>

    </div>

    <!-- .section 4 -->



</div>





    @section scripts{

        @*<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>*@

        <link href="~/Plesirthemes/NewFile/owl.carousel.min.css" rel="stylesheet" />
        <script src="~/Plesirthemes/NewFile/owl.carousel.min.js"></script>
        <script src="~/Plesirthemes/js/stackedCards.js"></script>
       
        
        <script>

            var customerid = '@ViewBag.customerid'


            // JavaScript Document

         $(function () {
             //$('.default-carousel').slick({
             //    dots: false,
             //    infinite: true,
             //    speed: 300,
             //    slidesToShow: 1,
             //    centerMode: false,
             //    arrows: false,
             //    variableWidth: true
             //});





             GetDailyHotData();

            GetMemberPackages();
           // GetStackCardsMemberPackages();





        })

            function DailyHotDetail() {
                $('.preloading').show();
                location.href = "../dailyhot";
            }

            function Packages(id) {
                $('.preloading').show();
                location.href = "../package?id=" + id + "&customerid=" + customerid;
            }

            function Services(type) {
                $('.preloading').show();
                location.href = "../service?type=" + type + "&customerid=" + customerid;
            }


        function GetBranchList()
        {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetBranchList", "Home")',
                beforeSend: function () {

                },
                success: function (result) {
                    $('#div_branch').empty().append((result));
                },
                complete: function () {

                }
            });

         }


        function GetMemberPackages()
        {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetMemberPackages", "Home")',
                beforeSend: function () {

                },
                success: function (result) {
                    $('#div_memberpackages').empty().append(result);
                },
                complete: function () {
                    $('.default-carousel').slick({
                        dots: false,
                        infinite: true,
                        speed: 300,
                        slidesToShow: 1,
                        centerMode: false,
                        arrows: false,
                        variableWidth: true
                    });


                    GetBranchList();
                }
            });

         }



        @*function GetDailyHot()
        {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetDailyHot", "Home")',
                beforeSend: function () {

                },
                success: function (result) {
                    $('#div_dailyhot').empty().append(result);
                },
                complete: function () {
                    var $owl = $('.dailyhot-carousel');

                    $owl.children().each(function (index) {
                        $(this).attr('data-position', index); // NB: .attr() instead of .data()
                    });

                    $owl.owlCarousel({
                        center: true,
                        loop: true,
                        items: 2,
                    });

                    $(document).on('click', '.owl-item > div', function () {
                        // see https://owlcarousel2.github.io/OwlCarousel2/docs/api-events.html#to-owl-carousel
                        var $speed = 300;  // in ms
                        $owl.trigger('to.owl.carousel', [$(this).data('position'), $speed]);
                    });

                }
            });

            }*@


        function GetDailyHotData()
        {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetDailyHotData", "Home")',
                beforeSend: function () {

                },
                success: function (result) {
                    if (result != "Fail") {
                        $('#div_dailyhot').empty().append(result);
                    }
                  
                },
                complete: function () {
                  

                }
            });

            }


          function GetStackCardsMemberPackages()
        {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetStackCardsMemberPackages", "Home")',
                beforeSend: function () {

                },
                success: function (result) {

                    $('#div_stackcardsmemberpackages').empty().append((result));
                 //   var stackcount = parseInt($('#stackcards_count').val());
                  //  var items = stackcount;
                  //  stackedCards();


                },
                complete: function () {

                    stackedCards();

                }
            });

         }


        function book() {
            $('.preloading').show();
          location.href='../book?customerid=@ViewBag.customerid';
        }

        function branch() {
            $('.preloading').show();
          location.href='../branch?customerid=@ViewBag.customerid';
        }

        function caradd() {
            $('.preloading').show();
          location.href='../car/add?ID=0&type=Add&customerid=@ViewBag.customerid';
        }

        function SeeMore(Id) {
            $('.preloading').show();
          location.href='../branch?customerid=@ViewBag.customerid';
        }


        </script>



    }
